{% extends "app.html" %}
{% import "macros.html" as macros %}

{% block css %}
{{ super() }}
{% assets "scss_auth_users" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block title %}Manage your Whitelist{% endblock %}
{% block pagetitle %}Users{% endblock %}

{% block js %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/auth/whitelist.js') }}"></script>
{% endblock %}


{% set active_page='Users' %}

{% block content %}
<form class="whitelist-add-form" method="POST" action="/whitelist/add">
    {{ whitelist_form.csrf_token }}
    {{ macros.render_field(whitelist_form.email, required="", placeholder="Email Address", autofocus="", label=False)}}
    {% for subfield in whitelist_form.user_type %}
    <ul>
        <li>{{ subfield }}</li>
        <li>{{ subfield.label }}</li>
    </ul>
    {% endfor %}
    <input class="big" type="submit" value="Add">
</form>

<ul class="whitelist">
{% for user in whitelist %}
{% if not user.redeemed %}
<li class="whitelist-item" data-email="{{ user.email }}">
    <p class="whitelist-email">{{ user.email }}</p>
    <div class="whitelist-buttons">
        <div class="whitelist-confirm-wrapper whitelist-hidden">
            <form class="whitelist-confirm" data-email="{{ user.email }}">
                <input class="whitelist-cancel" value="Cancel" type="button" />
                <input class="whitelist-delete" value="Confirm" type="submit" />
            </form>
        </div>
        <p class="whitelist-status">Login Pending</p>
        <a href="#" class="whitelist-status whitelist-remove">Revoke</a>
    </div>
    <span class="clearfix"></span>
</li>
{% endif %}
{% endfor%}

{% for user in users %}
<li class="whitelist-item" data-email="{{ user.email }}">
    <span class="whitelist-image-wrapper">
        <img src="{{ user.image_url }}">
    </span>
    <span class="whitelist-text-wrapper">
        <p class="whitelist-email">{{ user.email }}</p>
        <div class="whitelist-buttons">
            {{ macros.confirm("Delete User", "/users/delete/" + user.id_str()) }}
        </div>
    </span>
    <span class="clearfix"></span>
</li>
{% endfor %}
</ul>
{% endblock %}