{% extends "app.html" %}
{% import "macros.html" as macros %}

{% block css %}
{{ super() }}
{% assets "scss_auth_users" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block title %}Manage your Whitelist{% endblock %}
{% block pagetitle %}Users{% endblock %}

{% block js %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/auth/whitelist.js') }}"></script>
{% endblock %}


{% set active_page='Users' %}

{% block content %}
{% if current_user.can("admin") %}
<h2>Whitelist</h2>
<form class="whitelist-add-form" method="POST" action="/whitelist/add">
    {{ whitelist_form.csrf_token }}
    {{ macros.render_field(whitelist_form.email, required="", placeholder="Email Address", autofocus="", label=False)}}
    {% for subfield in whitelist_form.user_type %}
    <ul>
        <li>{{ subfield }}</li>
        <li>{{ subfield.label }}</li>
    </ul>
    {% endfor %}
    <input class="big" type="submit" value="Add">
</form>
<table class="whitelist no-hover">
    <thead>
        <th class="with-image">User Type</th>
        <th>Email</th>
        <th></th>
    </thead>
    <tbody>
        {% for user in whitelist %}
        {% if not user.redeemed %}
        <tr class="whitelist-item" data-email="{{ user.email }}">
            <td class="role with-image">
                <p>{{ user.user_type }}</p>
            </td>
            <td>
                {{ user.email }}
            </td>
            <td class="actions right">
                {{ macros.confirm("Revoke", "/whitelist/delete/" + user.email) }}
            </td>
        </tr>
        {% endif %}
        {% endfor%}
    </tbody>
</table>
<h2>Users</h2>
{% endif %}
<table class="users">
    <thead>
        <th class="with-image">Name</th>
        <th>Email</th>
        <th></th>
    </thead>
    <tbody>
        {% for user in users %}
        <tr class="user" data-email="{{ user.email }}">
            <td class="name with-image">
                <img src="{{ user.image_url }}">
                <p>{{user.name}}</p>
            </td>
            <td>
                <p class="whitelist-email">{{ user.email }}</p>
            </td>
            <td class="actions right">
                {{ macros.confirm("Delete User", "/users/delete/" + user.id_str()) }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}