{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block css %}
{{ super() }}
{% assets "scss_auth_whitelist" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block title %}Manage your Whitelist{% endblock %}

{% block js %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/auth/whitelist.js') }}"></script>
{% endblock %}

{% block body %}

<div class="whitelist-wrapper">
<h1>Whitelist</h1>

<form class="whitelist-add-form" method="POST" action="/whitelist/add">
    {{ form.csrf_token }}
    {{ macros.render_field(form.email, required="", placeholder="Email Address", autofocus="")}}
    {% for subfield in form.user_type %}
    <tr>
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>
    </tr>
    {% endfor %}
    <input class="whitelist-add" type="submit" value="Add">
</form>

<ul class="whitelist">
{% for user in whitelist %}
<li class="whitelist-item" data-email="{{ user.email }}">
    <p class="whitelist-email">{{ user.email }}</p>
    <div class="whitelist-buttons">
        <a href="#" class="whitelist-remove">Revoke</a>
        <div class="whitelist-confirm-wrapper whitelist-hidden">
            <form class="whitelist-confirm" data-email="{{ user.email }}">
                <input class="whitelist-cancel" value="Cancel" type="button" />
                <input class="whitelist-delete" value="Confirm" type="submit" />
            </form>
        </div>
    </div>
    <span class="clearfix"></span>
</li>

{% endfor%}
</ul>
</div>
{% endblock %}