/* line 11, /Users/dan/working/eventum/app/static/scss/client/base.scss */
html, body {
  font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Ariel sans-serif;
  font-weight: 400;
  height: 100%;
}

/* line 17, /Users/dan/working/eventum/app/static/scss/client/base.scss */
p {
  margin-bottom: 0.3125rem;
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.9rem;
}

/* line 25, /Users/dan/working/eventum/app/static/scss/client/base.scss */
pre {
  margin: 1rem 0;
  padding: 1rem;
  background-color: #f8f8f8;
  font-family: monospace;
}

/* line 32, /Users/dan/working/eventum/app/static/scss/client/base.scss */
ul li {
  font-size: 1.2rem;
  line-height: 1.9rem;
}

/* line 37, /Users/dan/working/eventum/app/static/scss/client/base.scss */
em {
  font-style: italic;
}

/* line 41, /Users/dan/working/eventum/app/static/scss/client/base.scss */
strong {
  font-weight: 700;
}

/* line 45, /Users/dan/working/eventum/app/static/scss/client/base.scss */
img {
  max-width: 100%;
}

/* line 49, /Users/dan/working/eventum/app/static/scss/client/base.scss */
a, a:hover {
  color: inherit;
  text-decoration: none;
}

/* line 54, /Users/dan/working/eventum/app/static/scss/client/base.scss */
input, textarea {
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 400;
  font-size: 1rem;
  padding: 0.3125rem;
}
/* line 59, /Users/dan/working/eventum/app/static/scss/client/base.scss */
input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, textarea::-webkit-input-placeholder, textarea:-moz-placeholder, textarea::-moz-placeholder, textarea:-ms-input-placeholder {
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 400;
  font-size: 1rem;
}

/* line 69, /Users/dan/working/eventum/app/static/scss/client/base.scss */
h1, .h1 {
  font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Ariel sans-serif;
  font-weight: 800;
  font-size: 3.75rem;
  line-height: 4.5rem;
  color: #222;
}

/* line 76, /Users/dan/working/eventum/app/static/scss/client/base.scss */
h2, .h2 {
  font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Ariel sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3rem;
  color: #222;
}

/* line 83, /Users/dan/working/eventum/app/static/scss/client/base.scss */
h3, .h3 {
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: #222;
}

/* line 90, /Users/dan/working/eventum/app/static/scss/client/base.scss */
h4, .h4 {
  font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Ariel sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: .625rem;
  text-transform: uppercase;
  color: #222;
}

/* line 99, /Users/dan/working/eventum/app/static/scss/client/base.scss */
h5, .h5 {
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 0.625rem;
  color: #222;
}

/* line 107, /Users/dan/working/eventum/app/static/scss/client/base.scss */
h6, .h6 {
  font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Ariel sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #222;
}

@media screen and (max-width: 1920px) {
  /* line 116, /Users/dan/working/eventum/app/static/scss/client/base.scss */
  html, body {
    font-size: 14px;
  }
}
@media screen and (max-width: 1440px) {
  /* line 122, /Users/dan/working/eventum/app/static/scss/client/base.scss */
  html, body {
    font-size: 12px;
  }
}
@media screen and (max-width: 1024px) {
  /* line 128, /Users/dan/working/eventum/app/static/scss/client/base.scss */
  html, body {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  /* line 134, /Users/dan/working/eventum/app/static/scss/client/base.scss */
  html, body {
    font-size: 10px;
  }
}
/* line 5 */
.large.post .text:not(.with-image) {
  width: 100%;
  float: none;
}

/* line 13 */
.post .date {
  font-weight: 700;
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: 1rem;
}
/* line 19 */
.post .author {
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: 1rem;
}

/* line 26 */
.callout.blue {
  margin-top: 3rem;
}

/* line 3 */
.post.single .author {
  vertical-align: middle;
}
/* line 7 */
.post.single .details {
  margin-bottom: 1rem;
}
/* line 10 */
.post.single .details i {
  background-position: center center;
  background-size: cover;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-bottom: 0;
}
/* line 19 */
.post.single img {
  margin: 0 auto;
  display: block;
}
/* line 24 */
.post.single ol {
  list-style: initial;
  list-style-type: decimal;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
  line-height: 1.9rem;
}
