/app/static/css/gen
/app/static/img/uploaded/*
!/app/static/img/uploaded/README.md
/app/static/img/uploaded/*
/lib
/bin
/include
tmp
/man
/share
*.pyc
flask_config.py
settings.dev
settings.prod
client_secrets.json
credentials.json
.webassets-cache
.lesshst
.Python
