{% extends "eventum_admin.html" %}
{% import "eventum_macros.html" as macros %}

{% set active_page='Media' %}
{% block title %}Manage Photos and other Media{% endblock %}
{% block pagetitle %}Media{% endblock %}
{% block bodyClass %}{{ super() }} media{% endblock %}

{% block js %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('eventum.static', filename='js/media/media.js') }}"></script>
<script type="text/javascript" src="{{ url_for('eventum.static', filename='js/media/upload.js') }}"></script>
{% endblock %}

{% block content %}
{{ macros.upload_form(form, uploaded_from=url_for('media.index')) }}

{% if images %}
<div class="image-grid-wrapper">
    <div class="image-grid-wrapper-inner">
        <div id='images-ajax-loadpoint'>
        </div>
    </div>
</div>
{% else %}
<p class="no-elements">There are no images.</p>
{% endif %}
{% endblock %}
