{% extends 'admin.html' %}
{% import 'macros.html' as macros %}

{% set active_page='Media'%}
{% block title %}Upload an Image{% endblock %}
{% block pagetitle %}Upload an Image{% endblock %}

{% block barleft %}
<a href="{{ url_for('media.index') }}"><i class="fa fa-arrow-left fa-2x"></i></a>
{% endblock %}

{% block js %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/admin/media/upload.js') }}"></script>
{% endblock %}

{% block content %}
    {{ macros.upload_form(form) }}
{% endblock %}
