@import '../colors';

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.whitelist-add-form {
    padding: 1rem;
    div {
        display: inline-block;
    }
}

.whitelist-item {
    border-top: 1px #eee solid;
    height: 48px;

    .form-component {
        display: inline;
    }

    .whitelist-image-wrapper {
        width: 3rem;
        height: 3rem;
        float:left;

        img {
            width: 3rem;
            height: 3rem;
        }
    }

    .whitelist-text-wrapper {
        display: inline;
        height: 3rem;
    }

    .whitelist-email {
        line-height: 3rem;
        display: inline-block;
        margin-left: 1rem;
    }

    .whitelist-buttons {
        float:right;
        line-height: 3rem;

        .whitelist-status {
            line-height: 3rem;
            display: inline-block;
            margin-right: 1rem;
        }

        .whitelist-cancel {
            background-color: #aaa;
            color: white;

            &:hover {
                background-color: #ccc;
            }
        }

        .whitelist-delete {
            background-color: $red;
            color: white;

            &:hover {
                background-color: $darkred;
            }
        }

        .whitelist-confirm-wrapper {
            overflow: hidden;
            width: 8rem;
            float:right;
            height: 3rem;
            display: inline-block;
            -webkit-transition: .3s ease all;
            transition: .3s ease all;
        }
        .whitelist-confirm {
            float:right;
            width: 8rem;
            display: inline-block;
            font-size:0;


            input {
                cursor: pointer;
                border: 0;
                margin: 0;
                padding: 0.25rem;
                text-align: center;
                font-size: 0.8rem;
                height: 3rem;
                width: 4rem;
            }
        }
    }
}


.whitelist-hidden {
    width: 0 !important;
}

.clearfix {
    clear: both;
}