{% macro navbar(navbar_items) %}
<div class="navbar">
    <div class="content">
        <nav>
            <a href="/">
                <img class="logo"src="{{ url_for('static', filename='img/logo/adi-logo-tiny.png') }}">
            </a>
            <div class="right">
                <ul class="menu">
                    {% for label, url in navbar_items %}
                    <li>
                        <a href="{{url}}">
                            <div>{{ label }}</div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    </div>
</div>
{% endmacro %}

{% macro event(event, show_description=True) %}
<div class="event large">
    <div class="image">
        <a href="{{ event.get_absolute_url() }}">
            <i style="background-image:url({{ event.image_url() }});"></i>
        </a>
    </div>
    <div class="text">
        <a href="{{ event.get_absolute_url() }}">
            <h2>{{ event.title }}</h2>
        </a>
        {% if show_description %}
        <p class="description">{{ event.short_description | safe }}</p>
        {% endif %}
        <div class="details">
            {% if event.is_multiday() %}
            <p>
                <i class="fa fa-calendar"></i>
                {{ event.human_readable_datetime() }}
            </p>
            {% else %}
            <p>
                <i class="fa fa-calendar"></i>
                {{ event.human_readable_date() }}
            </p>
            <p>
                <i class="fa fa-clock-o"></i>
                {{ event.human_readable_time() }}
            </p>
            {% endif %}
            <p>
                <i class="fa fa-map-marker"></i>
                {{ event.location }}
            </p>
        </div>
    </div>
</div>
{% endmacro %}

{% macro small_event(event) %}
<div class="event small-event small">
    <div class="inner">
        <a href="{{ event.get_absolute_url() }}">
            <i class="image" style="background-image:url({{event.image_url()}});"></i>
        </a>
        <div class="text">
            <a href="{{ url_for('home.event', slug=event.slug) }}">
                <h5>{{ event.title }}</h5>
            </a>
            <div class="details">
                {% if event.is_multiday() %}
                <p>
                    <i class="fa fa-calendar"></i>
                    {{ event.human_readable_datetime() }}
                </p>
                {% else %}
                <p>
                    <i class="fa fa-calendar"></i>
                    {{ event.human_readable_date() }}
                </p>
                <p>
                    <i class="fa fa-clock-o"></i>
                    {{ event.human_readable_time() }}
                </p>
                {% endif %}
                <p>
                    <i class="fa fa-map-marker"></i>
                    {{ event.location }}
                </p>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro post(post) %}
<div class="post large">
    {% if post.featured_image %}
    <div class="image">
        <a href="{{ post.get_absolute_url() }}">
            <i style="background-image:url({{ post.featured_image.url() }});"></i>
        </a>
    </div>
    <div class="text with-image">
    {% else %}
    <div class="text">
    {% endif %}
        <a href="{{ post.get_absolute_url() }}">
            <h2>{{ post.title }}</h2>
        </a>
        <p class="date">{{ post.human_readable_date() }}</p>
        <p class="author">by {{post.author.name}}</p>
        {{ post.snippet(30) | safe }}
    </div>
</div>
{% endmacro %}

{% macro small_post(post) %}
<div class="post small">
    <div class="inner">
        <a href="{{ post.get_absolute_url() }}">
            <i class="image" style="background-image:url({{post.featured_image.url()}});"></i>
        </a>
        <div class="text">
            <a href="{{ url_for('blog.post', slug=post.slug) }}">
                <h5>{{ post.title }}</h5>
            </a>
            <i class="fa fa-file-text-o"></i>
            <p class="date">{{ post.human_readable_date() }}</p>
            <p class="author">by {{post.author.name}}</p>
        </div>
    </div>
</div>
{% endmacro %}
