{% extends "page.html" %}
{% block title %}{{ event.title}} | {{ super() }}{% endblock %}
{% import "macros.html" as macros %}

{% set should_include_hero = False%}

{% block css %}
{{ super() }}
{% assets "scss_single_event" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block heroclass %}hidden{% endblock %}
{% block hero %}
{% endblock %}

{% block mainclass %}no-hero{% endblock %}
{% block main %}
<section class="single single-event">
    <div class="content">
        <i class="image" style="background-image:url({{event.image_url()}})"></i>
        <h1>{{ event.title }}</h1>
        <div class="details">
            <div class="section-header">
                <h4>Details</h4>
                <span class="bar yellow"></span>
            </div>
            {% if event.is_multiday() %}
            <p>
                <i class="fa fa-calendar"></i>
                {{ event.human_readable_datetime() }}
            </p>
            {% else %}
            <p>
                <i class="fa fa-calendar"></i>
                {{ event.human_readable_date() }}
            </p>
            <p>
                <i class="fa fa-clock-o"></i>
                {{ event.human_readable_time() }}
            </p>
            {% endif %}
            <p>
                <i class="fa fa-map-marker"></i>
                {{ event.location }}
            </p>
            {% if event.facebook_url %}
            <a href="{{event.facebook_url}}">
                <div class="button blue">
                    <i class="fa fa-facebook"></i>
                    RSVP on Facebook
                </div>
            </a>

            {% endif %}
        </div>
        <div class="text">
            {{ event.long_description | safe }}
        </div>
    </div>
</section>
<section>
    <div class="content">
        <div class="section-header">
            <h4>Upcoming Events</h4>
            <span class="bar blue"></span>
        </div>
        <div class="triple">
            {% for event in upcoming_events %}
                {{ macros.small_event(event) }}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock main %}