/* line 11, /Users/dan/working/eventum/app/static/scss/admin/media/image_grid.scss */
.image-grid-wrapper {
  position: relative;
}
/* line 14, /Users/dan/working/eventum/app/static/scss/admin/media/image_grid.scss */
.image-grid-wrapper .image-grid-wrapper-inner {
  position: absolute;
  left: -0.25rem;
  right: -0.25rem;
}

/* line 21, /Users/dan/working/eventum/app/static/scss/admin/media/image_grid.scss */
.image-grid {
  width: 100%;
  overflow: hidden;
}
/* line 25, /Users/dan/working/eventum/app/static/scss/admin/media/image_grid.scss */
.image-grid .image {
  width: 16.666%;
  padding-bottom: 16.666%;
  display: inline-block;
  float: left;
  position: relative;
}

/* line 34, /Users/dan/working/eventum/app/static/scss/admin/media/image_grid.scss */
.image i:not(.fa) {
  position: absolute;
  top: 0.25rem;
  bottom: 0.25rem;
  left: 0.25rem;
  right: 0.25rem;
  display: block;
  background-position: center center;
  background-size: cover;
}

/* line 45, /Users/dan/working/eventum/app/static/scss/admin/media/image_grid.scss */
.image-grid.small-grid .image {
  width: 4rem;
  border-bottom: 4rem;
}

@media only screen and (max-width: 120rem) {
  /* line 51, /Users/dan/working/eventum/app/static/scss/admin/media/image_grid.scss */
  .image-grid .image {
    width: 20% !important;
    padding-bottom: 20% !important;
  }
}
@media only screen and (max-width: 90rem) {
  /* line 57, /Users/dan/working/eventum/app/static/scss/admin/media/image_grid.scss */
  .image-grid .image {
    width: 25% !important;
    padding-bottom: 25% !important;
  }

  /* line 60, /Users/dan/working/eventum/app/static/scss/admin/media/image_grid.scss */
  .image-grid.small-grid .image {
    width: 16.666% !important;
    padding-bottom: 16.666% !important;
  }
}
@media only screen and (max-width: 64rem) {
  /* line 66, /Users/dan/working/eventum/app/static/scss/admin/media/image_grid.scss */
  .image-grid .image {
    width: 33.333% !important;
    padding-bottom: 33.333% !important;
  }

  /* line 69, /Users/dan/working/eventum/app/static/scss/admin/media/image_grid.scss */
  .image-grid.small-grid .image {
    width: 25% !important;
    padding-bottom: 25% !important;
  }
}
@media only screen and (max-width: 40rem) {
  /* line 75, /Users/dan/working/eventum/app/static/scss/admin/media/image_grid.scss */
  .image-grid .image {
    width: 50% !important;
    padding-bottom: 50% !important;
  }

  /* line 78, /Users/dan/working/eventum/app/static/scss/admin/media/image_grid.scss */
  .image-grid.small-grid .image {
    width: 33.333% !important;
    padding-bottom: 33.333% !important;
  }
}
/* line 4 */
.image-grid .image .actions {
  position: absolute;
  bottom: 0.25rem;
  right: 0.25rem;
  left: 0.25rem;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  height: 0;
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}
/* line 15 */
.image-grid .image .actions .action {
  height: 2.5rem;
  width: 2.5rem;
  line-height: 2.5rem;
  display: inline-block;
  position: relative;
}
/* line 22 */
.image-grid .image .actions .action a, .image-grid .image .actions .action a:hover {
  color: white;
}

/* line 30 */
.image-grid .image:hover .actions {
  height: 2.5rem;
}
