/* Hide the file input, but without `display:none`, which is often seen as a
 * security threat by many browsers.
 */
/* line 6 */
.hidden-but-not-forgotten {
  height: 0;
  overflow: hidden;
}

/* line 11 */
.filename-wrapper {
  display: inline-block;
  height: 2.5rem;
}

/* line 16 */
input[type="submit"] {
  display: inline-block;
  margin-top: 1rem;
}

/* line 21 */
.filename-wrapper {
  position: relative;
  display: inline-block;
}
/* line 25 */
.filename-wrapper .extension {
  position: absolute;
  right: 10px;
  top: 0;
  height: 2.5rem;
  line-height: 2.5rem;
}

/* line 35 */
.btn-choose {
  margin-right: 1rem;
}

/* line 38 */
.upload-form {
  margin-bottom: 0.75rem;
}
