@import 'base';
@import '../common/media_queries';
@import 'utils';
@import 'colors';
@import 'modal';
@import 'forms';
@import 'tables';
@import 'navbar';

$topbar-height: 3.5rem;
$content-padding: 1rem;
$content-padding-small: 0.5rem;

.main {
    min-height: 100%;
    margin-left: $nav-item-width;
    background-color: $offwhite;

    & > .inner {
        width: 90%;
        max-width: 100rem;
        margin: 0 auto;
    }
}

.topbar {
    background-color: $blue;
    color: $white;
    position: relative;
    height: $topbar-height;
    line-height: $topbar-height;

    .left {
        float:left;
        i {
            margin-left: 1rem;

        }
    }
    .middle {
        margin-left: 1rem;

        .page-title {
            display: inline;
            width: auto;
            line-height: $topbar-height;
        }
    }
    .right {
        float:right;
        margin-right: 1rem;
    }

    i {
        line-height: $topbar-height;
    }

    a {
        color: $white;

        &:hover {
            color: $offwhite;
        }
    }

    .text-button {
        font-size: 1.2rem;
        text-decoration: none !important;
    }
}

.flashes {
    color: $white;
    text-align: center;
    overflow: hidden;
    width: 100%;
    display: inline;


    .flash-wrapper {
        transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;

        &.dismissed { height: 0 !important; }
    }
    .flash {
        display: block;
        background-color: $green;
        position: relative;
        width: 100%;
        overflow: visible !important;

        p { padding: 0.5rem 0; }
        i {
            position: absolute;
            height: 1rem;
            right: 0.5rem;
            top: 50%;
            margin-top: -0.5rem;
        }
    }
}

.content {
    background-color: $white;
    position: relative;
    min-height: 100%;
    padding: $content-padding;

    .full-width {
        margin: 0 (-1 * $content-padding);
        width: auto;
    }
}

.toolbar {
    background-color: $blue;
    color: $white;

    .middle {
        display: inline;
        position: absolute;
        left: 50%;
        width: 60%;
        margin-left: -30%;
        text-align: center;
    }

    .right {
        float: right;
    }
}

@media screen and (max-width: $phone-max) {
    .main > .inner {
        width: 100% !important;
    }
}

@media screen and (min-width: $xl-desktop-min) {
    .main {
        margin-left: $nav-wide;
        background-color: $white;

        & > .inner {
            width: 100%;

            .content {
                width: 90%;
                margin: 0 auto;
            }
        }
    }
}