/* line 5 */
.signup-flow {
  margin: 0 auto;
  padding-top: 5rem;
  width: 15rem;
}
/* line 10 */
.signup-flow .profile-picture {
  width: 5rem;
  height: 5rem;
  margin-left: 5rem;
  margin-bottom: 1rem;
}
/* line 17 */
.signup-flow form {
  margin-bottom: 1rem;
}
/* line 18 */
.signup-flow form input {
  width: 15rem;
}
/* line 21 */
.signup-flow form input[type="text"] {
  margin-bottom: 0.5rem;
}
/* line 28 */
.signup-flow p {
  text-align: center;
}
/* line 30 */
.signup-flow p a {
  color: #3878cc;
}

/* line 36 */
.nav {
  display: none;
}

/* line 39 */
.topbar {
  left: 0;
}

/* line 42 */
.main, .main > .inner {
  width: 100% !important;
  max-width: none;
  margin: 0;
  padding: 0;
}

/* line 49 */
#gSignInWrapper {
  height: 20rem;
}

/* line 10, /Users/dan/working/eventum/app/static/scss/admin/base.scss */
body, html {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* line 16, /Users/dan/working/eventum/app/static/scss/admin/base.scss */
input, textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* line 20, /Users/dan/working/eventum/app/static/scss/admin/base.scss */
textarea {
  resize: none;
}

/* line 24, /Users/dan/working/eventum/app/static/scss/admin/base.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}
/* line 27, /Users/dan/working/eventum/app/static/scss/admin/base.scss */
h1 tt, h1 code, h2 tt, h2 code, h3 tt, h3 code, h4 tt, h4 code, h5 tt, h5 code, h6 tt, h6 code {
  font-size: inherit;
}

/* line 29, /Users/dan/working/eventum/app/static/scss/admin/base.scss */
h1 {
  font-size: 2rem;
  line-height: 2.4rem;
}

/* line 31, /Users/dan/working/eventum/app/static/scss/admin/base.scss */
h2 {
  font-size: 1.7rem;
  line-height: 2.1rem;
}

/* line 33, /Users/dan/working/eventum/app/static/scss/admin/base.scss */
h3 {
  font-size: 1.3rem;
  line-height: 1.7rem;
}

/* line 35, /Users/dan/working/eventum/app/static/scss/admin/base.scss */
h5 {
  font-size: 0.83rem;
}

/* line 36, /Users/dan/working/eventum/app/static/scss/admin/base.scss */
h6 {
  font-size: 0.75rem;
}

/* line 38, /Users/dan/working/eventum/app/static/scss/admin/base.scss */
pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}

/* line 45, /Users/dan/working/eventum/app/static/scss/admin/base.scss */
code, tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
  font-family: Monospace;
}

/* line 55, /Users/dan/working/eventum/app/static/scss/admin/base.scss */
pre {
  font-family: Monospace;
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}
/* line 65, /Users/dan/working/eventum/app/static/scss/admin/base.scss */
pre code, pre tt {
  background-color: transparent;
  border: none;
}

/* line 70, /Users/dan/working/eventum/app/static/scss/admin/base.scss */
small {
  font-size: 0.8rem;
}

/* line 71, /Users/dan/working/eventum/app/static/scss/admin/base.scss */
strong {
  font-weight: 700;
}

/* line 72, /Users/dan/working/eventum/app/static/scss/admin/base.scss */
em {
  font-style: italic;
}

/* line 75, /Users/dan/working/eventum/app/static/scss/admin/base.scss */
p {
  line-height: 1.3rem;
}

/* line 78, /Users/dan/working/eventum/app/static/scss/admin/base.scss */
hr {
  border: 0;
  height: 1px;
}

/* line 83, /Users/dan/working/eventum/app/static/scss/admin/base.scss */
a, a:hover {
  text-decoration: none;
  color: inherit;
}

/* line 4 */
#gSignInWrapper {
  width: 360px;
  margin: 0 auto;
  display: block;
}

/* line 10 */
#errorText {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
  margin-top: 1rem;
}

/* line 18 */
.hidden {
  display: none;
}

/* line 22 */
#errors {
  margin-top: 8rem;
}
/* line 25 */
#errors .error h4 {
  background-color: #dd4b39;
  padding: 1rem;
  color: white;
}
/* line 30 */
#errors .error p {
  padding: 1rem;
  background-color: #e0e0e0;
}

/* line 37 */
.retry {
  text-align: center;
}
/* line 40 */
.retry a {
  background-color: #333333;
  color: white;
  padding: 0.5rem 1rem;
}
