@import '../colors';
@import '../utils';

footer {
    @extend .clearfix;
    background-color: $offgray;
    color: $white;
    padding: 4rem;
    p {
        float: left;
        font-size: 1rem;

        a {
            color :$white;
            &:hover {
                color: $blue;
            }
        }

        &.right {
            float: right;
        }
    }
}