@import '../colors';
@import '../base';
@import '../utils';
@import '../../common/media_queries';
.large {
    position: relative;
    &:after {
        @include clearfix;
    }

    h2 {
        margin-bottom: 1rem;
    }

    .image {
        display: inline-block;
        width: 50%;
        padding-bottom: 33.33333%;
        position: relative;
        float: left;

        i {
            position: absolute;
            right: 1rem;
            left: 0;
            background-position: center center;
            height: 100%;
            background-size: cover;
        }
    }

    .text {
        float: right;
        width: 50%;
        display: inline-block;
        box-sizing: border-box;
        padding-left: 1rem;
        p {
            font-family: $sans;
        }
    }


    & + .large {
        margin-top: 2.5rem;
    }
}

@media screen and (max-width: $phone-max){
    .large {
        .image {
            width: 100%;
            padding-bottom: 66%;
            float: none;

            i {
                right: 0;
            }
        }
        .text {
            float: none;
            padding-left: 0;
            width: 100%;
        }
    }
}