@import '../admin';

$event-width: 15rem;
$creator-size: 3rem;

.week {
    margin: 0 0 1.5rem;
    padding-top: 0.5rem;
}

.events-wrapper {
    overflow-x: scroll;


    .events {
        min-width: 100%;
        margin: 0;
        padding: 0;

        .no-events {
            margin: 1rem 0;
            float: left;
            display: inline-block;
            width: 100%;
            text-align: center;
            height: 7rem;
            position: relative;
            p {
                position: absolute;
                height: 2rem;
                top: 50%;
                width: 100%;
                margin-top: -1rem;
            }
        }

        .event {
            margin: 1rem 0;
            min-height: 7rem;
            padding-bottom: $creator-size;
            float: left;
            position: relative;
            display: inline-block;
            width: $event-width;
            background-color: $offwhite;
            &:not(:first-child) {
                margin-left: 1rem;
            }
            &.incomplete { border-bottom: 0.5rem solid $red; }
            &.published { border-bottom: 0.5rem solid $green; }
            &.unpublished { border-bottom: 0.5rem solid $yellow; }

            .text-content {
                padding: 0.5rem;
            }

            .creator {
                position: absolute;
                bottom: 0.5rem;
                left: 0.5rem;
                right: 0.5rem;

                .image {
                    width: $creator-size;
                    height: $creator-size;
                    float: left;

                    img {
                        width: $creator-size;
                        height: $creator-size;
                    }
                }
                .name {
                    line-height: $creator-size;
                    display: inline-block;
                    margin-left: $creator-size/3;
                }
            }
        }
    }
}

.reset {
    line-height: 3.5rem;
    margin-left: 1rem;
}

.this-week {
    margin-left: -1rem;
    padding-left: 1rem;
    border-left: 0.5rem solid $blue;
}

form {
    display: inline-block;
}