@import '../admin';

$event-width: 15rem;
$creator-size: 3rem;
.events-wrapper {
    margin: 2rem 0;
    overflow-x: scroll;


    .events {
        background-color: $offwhite;
        min-width: 100%;
        margin: 0;
        padding: 0;

        .no-events {
            margin: 1rem 0;
            float: left;
            display: inline-block;
            width: 100%;
            text-align: center;
            height: 7rem;
            position: relative;
            p {
                position: absolute;
                height: 2rem;
                top: 50%;
                width: 100%;
                margin-top: -1rem;
            }
        }

        .event {
            margin: 1rem 0;
            min-height: 7rem;
            padding-bottom: $creator-size;
            float: left;
            position: relative;
            display: inline-block;
            width: $event-width;
            background-color: $white;
            &:not(:first-child) {
                margin-left: 1rem;
            }
            &.incomplete { border: 0.25rem solid $red; }
            &.published { border: 0.25rem solid $green; }
            &.unpublished { border: 0.25rem solid $yellow; }

            .text-content {
                padding: 0.5rem;
            }

            .creator {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: $lightgray;

                .image {
                    width: $creator-size;
                    height: $creator-size;
                    float: left;

                    img {
                        width: $creator-size;
                        height: $creator-size;
                    }
                }
                .name {
                    line-height: $creator-size;
                    display: inline-block;
                    margin-left: $creator-size/3;
                }
            }
        }
    }
}

form {
    display: inline-block;
}