/* line 10, /Users/dan/working/eventum/app/static/scss/base.scss */
body, html {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* line 17, /Users/dan/working/eventum/app/static/scss/base.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}
/* line 20, /Users/dan/working/eventum/app/static/scss/base.scss */
h1 tt, h1 code, h2 tt, h2 code, h3 tt, h3 code, h4 tt, h4 code, h5 tt, h5 code, h6 tt, h6 code {
  font-size: inherit;
}

/* line 22, /Users/dan/working/eventum/app/static/scss/base.scss */
h1 {
  font-size: 2rem;
  line-height: 2.4rem;
}

/* line 24, /Users/dan/working/eventum/app/static/scss/base.scss */
h2 {
  font-size: 1.7rem;
  line-height: 2.1rem;
}

/* line 26, /Users/dan/working/eventum/app/static/scss/base.scss */
h3 {
  font-size: 1.3rem;
  line-height: 1.7rem;
}

/* line 28, /Users/dan/working/eventum/app/static/scss/base.scss */
h5 {
  font-size: 0.83rem;
}

/* line 29, /Users/dan/working/eventum/app/static/scss/base.scss */
h6 {
  font-size: 0.75rem;
}

/* line 31, /Users/dan/working/eventum/app/static/scss/base.scss */
pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}

/* line 38, /Users/dan/working/eventum/app/static/scss/base.scss */
code, tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
  font-family: Monospace;
}

/* line 48, /Users/dan/working/eventum/app/static/scss/base.scss */
pre {
  font-family: Monospace;
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}
/* line 58, /Users/dan/working/eventum/app/static/scss/base.scss */
pre code, pre tt {
  background-color: transparent;
  border: none;
}

/* line 63, /Users/dan/working/eventum/app/static/scss/base.scss */
small {
  font-size: 0.8rem;
}

/* line 64, /Users/dan/working/eventum/app/static/scss/base.scss */
strong {
  font-weight: 700;
}

/* line 65, /Users/dan/working/eventum/app/static/scss/base.scss */
em {
  font-style: italic;
}

/* line 68, /Users/dan/working/eventum/app/static/scss/base.scss */
p {
  line-height: 1.3rem;
}

/* line 72, /Users/dan/working/eventum/app/static/scss/base.scss */
a, a:hover {
  text-decoration: none;
  color: inherit;
}

/* line 1, /Users/dan/working/eventum/app/static/scss/utils.scss */
.text-width-calculation {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  display: inline-block;
  white-space: nowrap;
}

/* line 17, /Users/dan/working/eventum/app/static/scss/utils.scss */
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 21, /Users/dan/working/eventum/app/static/scss/utils.scss */
.hidden {
  display: none;
}

/* line 25, /Users/dan/working/eventum/app/static/scss/utils.scss */
.fa-6x {
  font-size: 6rem;
}

/* line 29, /Users/dan/working/eventum/app/static/scss/utils.scss */
.small {
  font-size: 0.8rem !important;
}

/* line 8, /Users/dan/working/eventum/app/static/scss/tables.scss */
table {
  width: 100%;
  height: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
/* line 13, /Users/dan/working/eventum/app/static/scss/tables.scss */
table th {
  font-weight: bold;
  padding: 0.5rem 0;
}
/* line 17, /Users/dan/working/eventum/app/static/scss/tables.scss */
table.click tbody tr:hover {
  background-color: #efefef;
  cursor: pointer;
}
/* line 21, /Users/dan/working/eventum/app/static/scss/tables.scss */
table tbody tr {
  border-top: 1px solid #e0e0e0;
  font-size: 0;
  /* Removes spacing between table cells */
  height: 2.5rem;
  width: 100%;
  /* Restore font size from tr being set to 0 */
}
/* line 27, /Users/dan/working/eventum/app/static/scss/tables.scss */
table tbody tr:last-child {
  border-bottom: 1px solid #e0e0e0;
}
/* line 29, /Users/dan/working/eventum/app/static/scss/tables.scss */
table tbody tr td {
  width: 33%;
  overflow: hidden;
  font-size: 16px;
  position: relative;
  vertical-align: middle;
}
/* line 35, /Users/dan/working/eventum/app/static/scss/tables.scss */
table tbody tr td:first-child {
  padding-left: 0.5rem;
}
/* line 38, /Users/dan/working/eventum/app/static/scss/tables.scss */
table tbody tr td.right * {
  float: right;
}
/* line 43, /Users/dan/working/eventum/app/static/scss/tables.scss */
table tbody tr td.overflowing-text {
  display: inline-block;
  width: 100%;
  height: 100%;
  min-height: 2.5rem;
  overflow: hidden;
}
/* line 50, /Users/dan/working/eventum/app/static/scss/tables.scss */
table tbody tr td.overflowing-text .text {
  position: absolute;
  top: 0;
  left: 0.5rem;
  right: 0.5rem;
}
/* line 59, /Users/dan/working/eventum/app/static/scss/tables.scss */
table tbody tr td.with-image p {
  margin-left: 3rem;
  display: inline-block;
}
/* line 63, /Users/dan/working/eventum/app/static/scss/tables.scss */
table tbody tr td.with-image img {
  position: absolute;
  top: 50%;
  margin-top: -1.25rem;
  width: 2.5rem;
  height: 2.5rem;
  left: 0;
}
/* line 75, /Users/dan/working/eventum/app/static/scss/tables.scss */
table tbody tr h1 {
  font-size: 2rem;
}
/* line 76, /Users/dan/working/eventum/app/static/scss/tables.scss */
table tbody tr h2 {
  font-size: 1.7rem;
}
/* line 77, /Users/dan/working/eventum/app/static/scss/tables.scss */
table tbody tr h3 {
  font-size: 1.3rem;
}
/* line 78, /Users/dan/working/eventum/app/static/scss/tables.scss */
table tbody tr h5 {
  font-size: 0.83rem;
}
/* line 79, /Users/dan/working/eventum/app/static/scss/tables.scss */
table tbody tr h6 {
  font-size: 0.75rem;
}
/* line 80, /Users/dan/working/eventum/app/static/scss/tables.scss */
table tbody tr small {
  font-size: 0.8rem;
  line-height: 1.25rem;
}

@media screen and (max-width: 40rem) {
  /* line 88, /Users/dan/working/eventum/app/static/scss/tables.scss */
  table thead {
    display: none;
  }

  /* line 91, /Users/dan/working/eventum/app/static/scss/tables.scss */
  table tr td {
    display: inline-block;
    width: 100% !important;
    padding-left: 0.5rem;
    text-align: left;
    height: 2.5rem;
    line-height: 2.5rem;
  }
  /* line 99, /Users/dan/working/eventum/app/static/scss/tables.scss */
  table tr td p {
    display: inline-block !important;
  }
}
/* line 5 */
.whitelist-add-form ul {
  display: inline-block;
  margin-right: 0.5rem;
}
/* line 8 */
.whitelist-add-form ul li {
  display: inline-block;
}
/* line 10 */
.whitelist-add-form div {
  padding-right: 0.5rem;
  display: inline-block;
}
/* line 14 */
.whitelist-add-form input[type="submit"] {
  margin-top: 0.5rem;
  display: block;
}

/* line 19 */
.form-component {
  display: inline;
}

/* line 23 */
.whitelist {
  margin-bottom: 1rem;
}

/* line 27 */
.role, .name {
  width: 35%;
  text-transform: capitalize;
}

/* line 31 */
.email {
  width: 40%;
}

/* line 34 */
.user-type, .actions {
  width: 25%;
}

/* line 38 */
td:first-child {
  padding-left: 0 !important;
}

/* line 41 */
th {
  text-align: left;
}

/* line 44 */
.with-image {
  padding-left: 3rem;
}

/* line 48 */
small {
  display: block;
  margin-bottom: 0.5rem;
}

/* line 10, /Users/dan/working/eventum/app/static/scss/base.scss */
body, html {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* line 17, /Users/dan/working/eventum/app/static/scss/base.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}
/* line 20, /Users/dan/working/eventum/app/static/scss/base.scss */
h1 tt, h1 code, h2 tt, h2 code, h3 tt, h3 code, h4 tt, h4 code, h5 tt, h5 code, h6 tt, h6 code {
  font-size: inherit;
}

/* line 22, /Users/dan/working/eventum/app/static/scss/base.scss */
h1 {
  font-size: 2rem;
  line-height: 2.4rem;
}

/* line 24, /Users/dan/working/eventum/app/static/scss/base.scss */
h2 {
  font-size: 1.7rem;
  line-height: 2.1rem;
}

/* line 26, /Users/dan/working/eventum/app/static/scss/base.scss */
h3 {
  font-size: 1.3rem;
  line-height: 1.7rem;
}

/* line 28, /Users/dan/working/eventum/app/static/scss/base.scss */
h5 {
  font-size: 0.83rem;
}

/* line 29, /Users/dan/working/eventum/app/static/scss/base.scss */
h6 {
  font-size: 0.75rem;
}

/* line 31, /Users/dan/working/eventum/app/static/scss/base.scss */
pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}

/* line 38, /Users/dan/working/eventum/app/static/scss/base.scss */
code, tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
  font-family: Monospace;
}

/* line 48, /Users/dan/working/eventum/app/static/scss/base.scss */
pre {
  font-family: Monospace;
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}
/* line 58, /Users/dan/working/eventum/app/static/scss/base.scss */
pre code, pre tt {
  background-color: transparent;
  border: none;
}

/* line 63, /Users/dan/working/eventum/app/static/scss/base.scss */
small {
  font-size: 0.8rem;
}

/* line 64, /Users/dan/working/eventum/app/static/scss/base.scss */
strong {
  font-weight: 700;
}

/* line 65, /Users/dan/working/eventum/app/static/scss/base.scss */
em {
  font-style: italic;
}

/* line 68, /Users/dan/working/eventum/app/static/scss/base.scss */
p {
  line-height: 1.3rem;
}

/* line 72, /Users/dan/working/eventum/app/static/scss/base.scss */
a, a:hover {
  text-decoration: none;
  color: inherit;
}

/* line 1, /Users/dan/working/eventum/app/static/scss/utils.scss */
.text-width-calculation {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  display: inline-block;
  white-space: nowrap;
}

/* line 17, /Users/dan/working/eventum/app/static/scss/utils.scss */
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 21, /Users/dan/working/eventum/app/static/scss/utils.scss */
.hidden {
  display: none;
}

/* line 25, /Users/dan/working/eventum/app/static/scss/utils.scss */
.fa-6x {
  font-size: 6rem;
}

/* line 29, /Users/dan/working/eventum/app/static/scss/utils.scss */
.small {
  font-size: 0.8rem !important;
}

/* line 8 */
table {
  width: 100%;
  height: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
/* line 13 */
table th {
  font-weight: bold;
  padding: 0.5rem 0;
}
/* line 17 */
table.click tbody tr:hover {
  background-color: #efefef;
  cursor: pointer;
}
/* line 21 */
table tbody tr {
  border-top: 1px solid #e0e0e0;
  font-size: 0;
  /* Removes spacing between table cells */
  height: 2.5rem;
  width: 100%;
  /* Restore font size from tr being set to 0 */
}
/* line 27 */
table tbody tr:last-child {
  border-bottom: 1px solid #e0e0e0;
}
/* line 29 */
table tbody tr td {
  width: 33%;
  overflow: hidden;
  font-size: 16px;
  position: relative;
  vertical-align: middle;
}
/* line 35 */
table tbody tr td:first-child {
  padding-left: 0.5rem;
}
/* line 38 */
table tbody tr td.right * {
  float: right;
}
/* line 43 */
table tbody tr td.overflowing-text {
  display: inline-block;
  width: 100%;
  height: 100%;
  min-height: 2.5rem;
  overflow: hidden;
}
/* line 50 */
table tbody tr td.overflowing-text .text {
  position: absolute;
  top: 0;
  left: 0.5rem;
  right: 0.5rem;
}
/* line 59 */
table tbody tr td.with-image p {
  margin-left: 3rem;
  display: inline-block;
}
/* line 63 */
table tbody tr td.with-image img {
  position: absolute;
  top: 50%;
  margin-top: -1.25rem;
  width: 2.5rem;
  height: 2.5rem;
  left: 0;
}
/* line 75 */
table tbody tr h1 {
  font-size: 2rem;
}
/* line 76 */
table tbody tr h2 {
  font-size: 1.7rem;
}
/* line 77 */
table tbody tr h3 {
  font-size: 1.3rem;
}
/* line 78 */
table tbody tr h5 {
  font-size: 0.83rem;
}
/* line 79 */
table tbody tr h6 {
  font-size: 0.75rem;
}
/* line 80 */
table tbody tr small {
  font-size: 0.8rem;
  line-height: 1.25rem;
}

@media screen and (max-width: 40rem) {
  /* line 88 */
  table thead {
    display: none;
  }

  /* line 91 */
  table tr td {
    display: inline-block;
    width: 100% !important;
    padding-left: 0.5rem;
    text-align: left;
    height: 2.5rem;
    line-height: 2.5rem;
  }
  /* line 99 */
  table tr td p {
    display: inline-block !important;
  }
}

/* line 12, /Users/dan/working/eventum/app/static/scss/app.scss */
nav {
  z-index: 1;
  width: 4rem;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #333333;
  color: white;
}
/* line 22, /Users/dan/working/eventum/app/static/scss/app.scss */
nav a, nav a:hover {
  color: white;
  text-decoration: none;
}

/* line 27, /Users/dan/working/eventum/app/static/scss/app.scss */
.main {
  min-height: 100%;
  margin-left: 4rem;
  background-color: #efefef;
}
/* line 32, /Users/dan/working/eventum/app/static/scss/app.scss */
.main > .inner {
  width: 90%;
  max-width: 100rem;
  margin: 0 auto;
}

/* line 39, /Users/dan/working/eventum/app/static/scss/app.scss */
.topbar {
  background-color: #3878cc;
  color: white;
  position: relative;
  height: 3.5rem;
  line-height: 3.5rem;
}
/* line 46, /Users/dan/working/eventum/app/static/scss/app.scss */
.topbar .left {
  float: left;
}
/* line 48, /Users/dan/working/eventum/app/static/scss/app.scss */
.topbar .left i {
  margin-left: 1rem;
}
/* line 53, /Users/dan/working/eventum/app/static/scss/app.scss */
.topbar .middle {
  display: inline;
  position: absolute;
  left: 50%;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
/* line 61, /Users/dan/working/eventum/app/static/scss/app.scss */
.topbar .middle .page-title {
  display: inline;
  width: auto;
  line-height: 3.5rem;
}
/* line 67, /Users/dan/working/eventum/app/static/scss/app.scss */
.topbar .right {
  float: right;
  margin-right: 1rem;
}
/* line 72, /Users/dan/working/eventum/app/static/scss/app.scss */
.topbar i {
  line-height: 3.5rem;
}
/* line 76, /Users/dan/working/eventum/app/static/scss/app.scss */
.topbar a {
  color: white;
}
/* line 79, /Users/dan/working/eventum/app/static/scss/app.scss */
.topbar a:hover {
  color: #efefef;
}
/* line 84, /Users/dan/working/eventum/app/static/scss/app.scss */
.topbar .text-button {
  font-size: 1.2rem;
  text-decoration: none !important;
}

/* line 90, /Users/dan/working/eventum/app/static/scss/app.scss */
.flashes {
  color: white;
  text-align: center;
}
/* line 94, /Users/dan/working/eventum/app/static/scss/app.scss */
.flashes li {
  padding: 0.5rem 0;
  background-color: #43ac6a;
  position: relative;
}
/* line 99, /Users/dan/working/eventum/app/static/scss/app.scss */
.flashes li i {
  position: absolute;
  height: 1rem;
  right: 0.5rem;
  top: 50%;
  margin-top: -0.5rem;
}

/* line 109, /Users/dan/working/eventum/app/static/scss/app.scss */
.content {
  background-color: white;
  position: relative;
  min-height: 100%;
  padding: 1rem;
}
/* line 115, /Users/dan/working/eventum/app/static/scss/app.scss */
.content .full-width {
  margin: 0 -1rem;
  width: auto;
}

/* line 121, /Users/dan/working/eventum/app/static/scss/app.scss */
.nav-item {
  overflow: hidden;
  width: 4rem;
  background-color: #333333;
  height: 3.5rem;
  line-height: 3.5rem;
  display: block;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  position: relative;
}
/* line 132, /Users/dan/working/eventum/app/static/scss/app.scss */
.nav-item.selected {
  background-color: #3878cc;
}
/* line 136, /Users/dan/working/eventum/app/static/scss/app.scss */
.nav-item .nav-icon {
  text-align: center;
  width: 4rem;
  height: 3.5rem;
  line-height: 3.5rem;
  display: inline-block;
  float: left;
}
/* line 144, /Users/dan/working/eventum/app/static/scss/app.scss */
.nav-item .nav-label {
  position: absolute;
  padding-left: 1rem;
  font-weight: 300;
  left: 4rem;
  right: 0;
  display: inline-block;
  float: right;
  font-size: 1.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
}

/* line 159, /Users/dan/working/eventum/app/static/scss/app.scss */
.toolbar {
  background-color: #3878cc;
  color: white;
}
/* line 163, /Users/dan/working/eventum/app/static/scss/app.scss */
.toolbar .middle {
  display: inline;
  position: absolute;
  left: 50%;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
/* line 172, /Users/dan/working/eventum/app/static/scss/app.scss */
.toolbar .right {
  float: right;
}

/* line 182, /Users/dan/working/eventum/app/static/scss/app.scss */
.w-5:hover {
  width: 9.5rem;
}
/* line 183, /Users/dan/working/eventum/app/static/scss/app.scss */
.w-5 .nav-label {
  width: 5.5rem;
}

/* line 185, /Users/dan/working/eventum/app/static/scss/app.scss */
.w-6:hover {
  width: 10rem;
}
/* line 186, /Users/dan/working/eventum/app/static/scss/app.scss */
.w-6 .nav-label {
  width: 6rem;
}

/* line 188, /Users/dan/working/eventum/app/static/scss/app.scss */
.w-6-5:hover {
  width: 10.5rem;
}
/* line 189, /Users/dan/working/eventum/app/static/scss/app.scss */
.w-6-5 .nav-label {
  width: 6.5rem;
}

/* line 191, /Users/dan/working/eventum/app/static/scss/app.scss */
.w-9:hover {
  width: 13rem;
}
/* line 192, /Users/dan/working/eventum/app/static/scss/app.scss */
.w-9 .nav-label {
  width: 9rem;
}

/* line 194, /Users/dan/working/eventum/app/static/scss/app.scss */
.fa-2-5x {
  font-size: 2.5em;
}

@media screen and (max-width: 40rem) {
  /* line 199, /Users/dan/working/eventum/app/static/scss/app.scss */
  .main > .inner {
    width: 100% !important;
  }
}
@media screen and (min-width: 90.063rem) {
  /* line 205, /Users/dan/working/eventum/app/static/scss/app.scss */
  nav {
    width: 12rem;
  }

  /* line 207, /Users/dan/working/eventum/app/static/scss/app.scss */
  .main > .inner {
    width: 100% !important;
  }

  /* line 209, /Users/dan/working/eventum/app/static/scss/app.scss */
  .main {
    margin-left: 12rem;
  }

  /* line 211, /Users/dan/working/eventum/app/static/scss/app.scss */
  .nav-item {
    -webkit-transition: none;
    transition: none;
    width: 12rem !important;
  }
  /* line 216, /Users/dan/working/eventum/app/static/scss/app.scss */
  .nav-item .nav-label {
    padding-left: 0;
  }
  /* line 220, /Users/dan/working/eventum/app/static/scss/app.scss */
  .nav-item:not(.selected):hover {
    background-color: #919191;
  }
  /* line 221, /Users/dan/working/eventum/app/static/scss/app.scss */
  .nav-item.selected:hover {
    background-color: #306cbb;
  }
}
/* line 1, /Users/dan/working/eventum/app/static/scss/utils.scss */
.text-width-calculation {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  display: inline-block;
  white-space: nowrap;
}

/* line 17, /Users/dan/working/eventum/app/static/scss/utils.scss */
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 21, /Users/dan/working/eventum/app/static/scss/utils.scss */
.hidden {
  display: none;
}

/* line 25, /Users/dan/working/eventum/app/static/scss/utils.scss */
.fa-6x {
  font-size: 6rem;
}

/* line 29, /Users/dan/working/eventum/app/static/scss/utils.scss */
.small {
  font-size: 0.8rem !important;
}

/* line 6 */
.opaque {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  padding-left: 4rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
}
/* line 17 */
.opaque .modal-wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 50rem;
  margin-top: 5rem;
  position: relative;
}
/* line 24 */
.opaque .modal-wrapper .modal {
  background-color: white;
  padding: 1rem;
}
/* line 29 */
.opaque .modal-wrapper .close-modal {
  position: absolute;
  right: -2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  color: white;
  background-color: #3878cc;
  text-align: center;
}
/* line 38 */
.opaque .modal-wrapper .close-modal i {
  line-height: 2.5rem;
}

/* line 45 */
body.modal-open {
  overflow: hidden;
}

@media print and (min-width: 90.063rem) {
  /* line 51 */
  .opaque {
    padding-left: 12rem;
  }
}
