/* line 3 */
h1 {
  text-align: center;
  margin-bottom: 1rem;
}

/* line 8 */
.whitelist {
  border-bottom: 1px #eee solid;
}

/* line 12 */
.whitelist-add-form {
  padding: 0 1rem 1rem;
}
/* line 14 */
.whitelist-add-form ul {
  display: inline-block;
  margin-right: 0.5rem;
}
/* line 17 */
.whitelist-add-form ul li {
  display: inline-block;
}
/* line 22 */
.whitelist-add-form div {
  margin-right: 0.5rem;
  display: inline-block;
}

/* line 29 */
.whitelist-item {
  border-top: 1px #eee solid;
  height: 2.5rem;
}
/* line 33 */
.whitelist-item .form-component {
  display: inline;
}
/* line 37 */
.whitelist-item .whitelist-image-wrapper {
  width: 2.5rem;
  height: 2.5rem;
  float: left;
}
/* line 42 */
.whitelist-item .whitelist-image-wrapper img {
  width: 2.5rem;
  height: 2.5rem;
}
/* line 48 */
.whitelist-item .whitelist-text-wrapper {
  display: inline;
  height: 2.5rem;
}
/* line 53 */
.whitelist-item .whitelist-email {
  line-height: 2.5rem;
  display: inline-block;
  margin-left: 1rem;
}
/* line 59 */
.whitelist-item .whitelist-buttons {
  float: right;
  line-height: 2.5rem;
}
/* line 63 */
.whitelist-item .whitelist-buttons .whitelist-status {
  line-height: 2.5rem;
  display: inline-block;
  margin-right: 1rem;
}
/* line 69 */
.whitelist-item .whitelist-buttons .whitelist-cancel {
  background-color: #aaa;
  color: white;
}
/* line 73 */
.whitelist-item .whitelist-buttons .whitelist-cancel:hover {
  background-color: #ccc;
}
/* line 78 */
.whitelist-item .whitelist-buttons .whitelist-delete {
  background-color: #d9534f;
  color: white;
}
/* line 82 */
.whitelist-item .whitelist-buttons .whitelist-delete:hover {
  background-color: #d43f3a;
}
/* line 87 */
.whitelist-item .whitelist-buttons .whitelist-confirm-wrapper {
  overflow: hidden;
  width: 8rem;
  float: right;
  height: 2.5rem;
  display: inline-block;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}
/* line 96 */
.whitelist-item .whitelist-buttons .whitelist-confirm {
  float: right;
  width: 8rem;
  display: inline-block;
  font-size: 0;
}
/* line 103 */
.whitelist-item .whitelist-buttons .whitelist-confirm input {
  cursor: pointer;
  border: 0;
  margin: 0;
  padding: 0.25rem;
  text-align: center;
  font-size: 0.8rem;
  height: 2.5rem;
  width: 4rem;
}

/* line 118 */
.whitelist-hidden {
  width: 0 !important;
}

/* line 122 */
.clearfix {
  clear: both;
}
