/* line 3 */
h1 {
  text-align: center;
  margin-bottom: 1rem;
}

/* line 8 */
.whitelist-add-form {
  padding: 1rem;
}
/* line 10 */
.whitelist-add-form div {
  display: inline-block;
}

/* line 15 */
.whitelist-item {
  border-top: 1px #eee solid;
  height: 48px;
}
/* line 19 */
.whitelist-item .form-component {
  display: inline;
}
/* line 23 */
.whitelist-item .whitelist-image-wrapper {
  width: 3rem;
  height: 3rem;
  float: left;
}
/* line 28 */
.whitelist-item .whitelist-image-wrapper img {
  width: 3rem;
  height: 3rem;
}
/* line 34 */
.whitelist-item .whitelist-text-wrapper {
  display: inline;
  height: 3rem;
}
/* line 39 */
.whitelist-item .whitelist-email {
  line-height: 3rem;
  display: inline-block;
  margin-left: 1rem;
}
/* line 45 */
.whitelist-item .whitelist-buttons {
  float: right;
  line-height: 3rem;
}
/* line 49 */
.whitelist-item .whitelist-buttons .whitelist-status {
  line-height: 3rem;
  display: inline-block;
  margin-right: 1rem;
}
/* line 55 */
.whitelist-item .whitelist-buttons .whitelist-cancel {
  background-color: #aaa;
  color: white;
}
/* line 59 */
.whitelist-item .whitelist-buttons .whitelist-cancel:hover {
  background-color: #ccc;
}
/* line 64 */
.whitelist-item .whitelist-buttons .whitelist-delete {
  background-color: #d9534f;
  color: white;
}
/* line 68 */
.whitelist-item .whitelist-buttons .whitelist-delete:hover {
  background-color: #d43f3a;
}
/* line 73 */
.whitelist-item .whitelist-buttons .whitelist-confirm-wrapper {
  overflow: hidden;
  width: 8rem;
  float: right;
  height: 3rem;
  display: inline-block;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}
/* line 82 */
.whitelist-item .whitelist-buttons .whitelist-confirm {
  float: right;
  width: 8rem;
  display: inline-block;
  font-size: 0;
}
/* line 89 */
.whitelist-item .whitelist-buttons .whitelist-confirm input {
  cursor: pointer;
  border: 0;
  margin: 0;
  padding: 0.25rem;
  text-align: center;
  font-size: 0.8rem;
  height: 3rem;
  width: 4rem;
}

/* line 104 */
.whitelist-hidden {
  width: 0 !important;
}

/* line 108 */
.clearfix {
  clear: both;
}
