/* line 4 */
.profile-picture {
  display: inline-block;
  width: 33%;
  max-width: 300px;
}
/* line 8 */
.profile-picture img {
  width: 100%;
  max-width: 300px;
}

/* line 14 */
.info {
  display: inline-block;
  width: 66%;
  vertical-align: top;
}
/* line 18 */
.info > .inner {
  padding-left: 0.75rem;
}
/* line 22 */
.info p, .info h2 {
  margin: 0 0.5rem 0.5rem;
}
/* line 26 */
.info input[type="text"] {
  margin: 0 0 0.5rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/* line 32 */
.info .title-wrapper input {
  width: 100%;
}
/* line 35 */
.info #email {
  width: 75%;
  height: 2rem;
}

@media screen and (max-width: 40rem) {
  /* line 42 */
  .info, .profile-picture {
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
  }
  /* line 49 */
  .info > .inner, .profile-picture > .inner {
    padding-left: 0;
  }

  /* line 53 */
  .profile-picture {
    margin: 0 auto;
    text-align: center;
    padding: 0 0.5rem;
  }
  /* line 58 */
  .profile-picture img {
    margin-bottom: 1rem;
  }
}
