/* line 7 */
nav {
  width: 4rem;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #333333;
  color: #cccccc;
}
/* line 16 */
nav a, nav a:hover {
  color: #cccccc;
  text-decoration: none;
}

/* line 21 */
.main {
  margin-left: 4rem;
}

/* line 25 */
.nav-item {
  overflow: hidden;
  width: 4rem;
  background-color: #333333;
  height: 3.5rem;
  line-height: 3.5rem;
  display: block;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  position: relative;
}
/* line 36 */
.nav-item.selected {
  background-color: #3878cc;
}
/* line 40 */
.nav-item .nav-icon {
  text-align: center;
  width: 4rem;
  height: 3.5rem;
  line-height: 3.5rem;
  display: inline-block;
  float: left;
}
/* line 48 */
.nav-item .nav-label {
  position: absolute;
  margin-left: 1rem;
  left: 4rem;
  right: 0;
  display: inline-block;
  float: right;
  font-size: 1.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
}

/* line 67 */
.w-5:hover {
  width: 9.5rem;
}
/* line 68 */
.w-5 .nav-label {
  width: 5.5rem;
}

/* line 70 */
.w-6:hover {
  width: 10rem;
}
/* line 71 */
.w-6 .nav-label {
  width: 6rem;
}

/* line 73 */
.w-6-5:hover {
  width: 10.5rem;
}
/* line 74 */
.w-6-5 .nav-label {
  width: 6.5rem;
}

/* line 76 */
.w-8:hover {
  width: 12.5rem;
}
/* line 77 */
.w-8 .nav-label {
  width: 8.5rem;
}

/* line 79 */
.fa-2-5x {
  font-size: 2.5em;
}
