/* line 3 */
.whitelist-wrapper {
  margin: 3rem auto;
  max-width: 40rem;
  box-shadow: 0 0 1rem #aaa;
  overflow: hidden;
  padding: 1rem 0 0;
}
/* line 10 */
.whitelist-wrapper h1 {
  text-align: center;
  margin-bottom: 1rem;
}
/* line 15 */
.whitelist-wrapper .whitelist-add-form {
  padding: 1rem;
}
/* line 17 */
.whitelist-wrapper .whitelist-add-form div {
  display: inline-block;
}
/* line 22 */
.whitelist-wrapper .whitelist-item {
  clear: both;
  height: 3rem;
  line-height: 3rem;
  border-top: 1px #eee solid;
}
/* line 28 */
.whitelist-wrapper .whitelist-item .whitelist-email {
  float: left;
  margin-left: 1rem;
}
/* line 33 */
.whitelist-wrapper .whitelist-item .whitelist-buttons {
  float: right;
}
/* line 36 */
.whitelist-wrapper .whitelist-item .whitelist-buttons .whitelist-remove {
  display: inline-block;
  float: left;
  margin-right: 1rem;
}
/* line 42 */
.whitelist-wrapper .whitelist-item .whitelist-buttons .whitelist-cancel {
  background-color: #aaa;
  color: white;
}
/* line 46 */
.whitelist-wrapper .whitelist-item .whitelist-buttons .whitelist-cancel:hover {
  background-color: #ccc;
}
/* line 51 */
.whitelist-wrapper .whitelist-item .whitelist-buttons .whitelist-delete {
  background-color: #d9534f;
  color: white;
}
/* line 55 */
.whitelist-wrapper .whitelist-item .whitelist-buttons .whitelist-delete:hover {
  background-color: #d43f3a;
}
/* line 60 */
.whitelist-wrapper .whitelist-item .whitelist-buttons .whitelist-confirm-wrapper {
  overflow: hidden;
  width: 8rem;
  height: 3rem;
  display: inline-block;
  float: left;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}
/* line 69 */
.whitelist-wrapper .whitelist-item .whitelist-buttons .whitelist-confirm {
  float: right;
  width: 8rem;
  display: inline-block;
  font-size: 0;
}
/* line 76 */
.whitelist-wrapper .whitelist-item .whitelist-buttons .whitelist-confirm input {
  cursor: pointer;
  border: 0;
  margin: 0;
  padding: 0.25rem;
  text-align: center;
  font-size: 0.8rem;
  height: 3rem;
  width: 4rem;
}

/* line 91 */
.whitelist-hidden {
  width: 0 !important;
}

/* line 95 */
.clearfix {
  clear: both;
}
