/* line 10, /Users/dan/working/eventum/app/static/scss/media/image_grid.scss */
.image-grid {
  width: 100%;
  overflow: hidden;
}
/* line 14, /Users/dan/working/eventum/app/static/scss/media/image_grid.scss */
.image-grid .image {
  width: 16.666%;
  padding-bottom: 16.666%;
  display: inline-block;
  float: left;
  position: relative;
}
/* line 21, /Users/dan/working/eventum/app/static/scss/media/image_grid.scss */
.image-grid .image i {
  position: absolute;
  top: 0.25rem;
  bottom: 0.25rem;
  left: 0.25rem;
  right: 0.25rem;
  display: block;
  background-position: center center;
  background-size: cover;
}

/* line 34, /Users/dan/working/eventum/app/static/scss/media/image_grid.scss */
.image-grid.small-grid .image {
  width: 4rem;
  border-bottom: 4rem;
}

@media only screen and (max-width: 120rem) {
  /* line 40, /Users/dan/working/eventum/app/static/scss/media/image_grid.scss */
  .image {
    width: 20% !important;
    padding-bottom: 20% !important;
  }
}
@media only screen and (max-width: 90rem) {
  /* line 46, /Users/dan/working/eventum/app/static/scss/media/image_grid.scss */
  .image-grid .image {
    width: 25% !important;
    padding-bottom: 25% !important;
  }

  /* line 49, /Users/dan/working/eventum/app/static/scss/media/image_grid.scss */
  .image-grid.small-grid .image {
    width: 16.666% !important;
    padding-bottom: 16.666% !important;
  }
}
@media only screen and (max-width: 64rem) {
  /* line 55, /Users/dan/working/eventum/app/static/scss/media/image_grid.scss */
  .image-grid .image {
    width: 33.333% !important;
    padding-bottom: 33.333% !important;
  }

  /* line 58, /Users/dan/working/eventum/app/static/scss/media/image_grid.scss */
  .image-grid.small-grid .image {
    width: 25% !important;
    padding-bottom: 25% !important;
  }
}
@media only screen and (max-width: 40rem) {
  /* line 64, /Users/dan/working/eventum/app/static/scss/media/image_grid.scss */
  .image-grid .image {
    width: 50% !important;
    padding-bottom: 50% !important;
  }

  /* line 67, /Users/dan/working/eventum/app/static/scss/media/image_grid.scss */
  .image-grid.small-grid .image {
    width: 33.333% !important;
    padding-bottom: 33.333% !important;
  }
}
/* line 12, /Users/dan/working/eventum/app/static/scss/app.scss */
nav {
  z-index: 1;
  width: 4rem;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #333333;
  color: white;
}
/* line 22, /Users/dan/working/eventum/app/static/scss/app.scss */
nav a, nav a:hover {
  color: white;
  text-decoration: none;
}

/* line 27, /Users/dan/working/eventum/app/static/scss/app.scss */
.main {
  min-height: 100%;
  margin-left: 4rem;
  background-color: #efefef;
}
/* line 32, /Users/dan/working/eventum/app/static/scss/app.scss */
.main > .inner {
  width: 90%;
  max-width: 100rem;
  margin: 0 auto;
}

/* line 39, /Users/dan/working/eventum/app/static/scss/app.scss */
.topbar {
  background-color: #3878cc;
  color: white;
  position: relative;
  height: 3.5rem;
  line-height: 3.5rem;
}
/* line 46, /Users/dan/working/eventum/app/static/scss/app.scss */
.topbar .left {
  float: left;
}
/* line 48, /Users/dan/working/eventum/app/static/scss/app.scss */
.topbar .left i {
  margin-left: 1rem;
}
/* line 53, /Users/dan/working/eventum/app/static/scss/app.scss */
.topbar .middle {
  display: inline;
  position: absolute;
  left: 50%;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
/* line 61, /Users/dan/working/eventum/app/static/scss/app.scss */
.topbar .middle .page-title {
  display: inline;
  width: auto;
  line-height: 3.5rem;
}
/* line 67, /Users/dan/working/eventum/app/static/scss/app.scss */
.topbar .right {
  float: right;
  margin-right: 1rem;
}
/* line 72, /Users/dan/working/eventum/app/static/scss/app.scss */
.topbar i {
  line-height: 3.5rem;
}
/* line 76, /Users/dan/working/eventum/app/static/scss/app.scss */
.topbar a {
  color: white;
}
/* line 79, /Users/dan/working/eventum/app/static/scss/app.scss */
.topbar a:hover {
  color: #efefef;
}
/* line 84, /Users/dan/working/eventum/app/static/scss/app.scss */
.topbar .text-button {
  font-size: 1.2rem;
  text-decoration: none !important;
}

/* line 90, /Users/dan/working/eventum/app/static/scss/app.scss */
.flashes {
  color: white;
  text-align: center;
}
/* line 94, /Users/dan/working/eventum/app/static/scss/app.scss */
.flashes li {
  padding: 0.5rem 0;
  background-color: #43ac6a;
  position: relative;
}
/* line 99, /Users/dan/working/eventum/app/static/scss/app.scss */
.flashes li i {
  position: absolute;
  height: 1rem;
  right: 0.5rem;
  top: 50%;
  margin-top: -0.5rem;
}

/* line 109, /Users/dan/working/eventum/app/static/scss/app.scss */
.content {
  background-color: white;
  position: relative;
  min-height: 100%;
  padding: 1rem;
}
/* line 115, /Users/dan/working/eventum/app/static/scss/app.scss */
.content .full-width {
  margin: 0 -1rem;
  width: auto;
}

/* line 121, /Users/dan/working/eventum/app/static/scss/app.scss */
.nav-item {
  overflow: hidden;
  width: 4rem;
  background-color: #333333;
  height: 3.5rem;
  line-height: 3.5rem;
  display: block;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  position: relative;
}
/* line 132, /Users/dan/working/eventum/app/static/scss/app.scss */
.nav-item.selected {
  background-color: #3878cc;
}
/* line 136, /Users/dan/working/eventum/app/static/scss/app.scss */
.nav-item .nav-icon {
  text-align: center;
  width: 4rem;
  height: 3.5rem;
  line-height: 3.5rem;
  display: inline-block;
  float: left;
}
/* line 144, /Users/dan/working/eventum/app/static/scss/app.scss */
.nav-item .nav-label {
  position: absolute;
  padding-left: 1rem;
  font-weight: 300;
  left: 4rem;
  right: 0;
  display: inline-block;
  float: right;
  font-size: 1.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
}

/* line 159, /Users/dan/working/eventum/app/static/scss/app.scss */
.toolbar {
  background-color: #3878cc;
  color: white;
}
/* line 163, /Users/dan/working/eventum/app/static/scss/app.scss */
.toolbar .middle {
  display: inline;
  position: absolute;
  left: 50%;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
/* line 172, /Users/dan/working/eventum/app/static/scss/app.scss */
.toolbar .right {
  float: right;
}

/* line 182, /Users/dan/working/eventum/app/static/scss/app.scss */
.w-5:hover {
  width: 9.5rem;
}
/* line 183, /Users/dan/working/eventum/app/static/scss/app.scss */
.w-5 .nav-label {
  width: 5.5rem;
}

/* line 185, /Users/dan/working/eventum/app/static/scss/app.scss */
.w-6:hover {
  width: 10rem;
}
/* line 186, /Users/dan/working/eventum/app/static/scss/app.scss */
.w-6 .nav-label {
  width: 6rem;
}

/* line 188, /Users/dan/working/eventum/app/static/scss/app.scss */
.w-6-5:hover {
  width: 10.5rem;
}
/* line 189, /Users/dan/working/eventum/app/static/scss/app.scss */
.w-6-5 .nav-label {
  width: 6.5rem;
}

/* line 191, /Users/dan/working/eventum/app/static/scss/app.scss */
.w-9:hover {
  width: 13rem;
}
/* line 192, /Users/dan/working/eventum/app/static/scss/app.scss */
.w-9 .nav-label {
  width: 9rem;
}

/* line 194, /Users/dan/working/eventum/app/static/scss/app.scss */
.fa-2-5x {
  font-size: 2.5em;
}

@media screen and (max-width: 40rem) {
  /* line 199, /Users/dan/working/eventum/app/static/scss/app.scss */
  .main > .inner {
    width: 100% !important;
  }
}
@media screen and (min-width: 90.063rem) {
  /* line 205, /Users/dan/working/eventum/app/static/scss/app.scss */
  nav {
    width: 12rem;
  }

  /* line 207, /Users/dan/working/eventum/app/static/scss/app.scss */
  .main > .inner {
    width: 100% !important;
  }

  /* line 209, /Users/dan/working/eventum/app/static/scss/app.scss */
  .main {
    margin-left: 12rem;
  }

  /* line 211, /Users/dan/working/eventum/app/static/scss/app.scss */
  .nav-item {
    -webkit-transition: none;
    transition: none;
    width: 12rem !important;
  }
  /* line 216, /Users/dan/working/eventum/app/static/scss/app.scss */
  .nav-item .nav-label {
    padding-left: 0;
  }
  /* line 220, /Users/dan/working/eventum/app/static/scss/app.scss */
  .nav-item:not(.selected):hover {
    background-color: #919191;
  }
  /* line 221, /Users/dan/working/eventum/app/static/scss/app.scss */
  .nav-item.selected:hover {
    background-color: #306cbb;
  }
}
/* line 5 */
#epiceditor {
  margin-bottom: 1rem;
}

/* line 9 */
.title-wrapper {
  margin-bottom: 0.5rem;
}

/* line 13 */
.content {
  padding-bottom: 0.75rem !important;
}

/* line 17 */
.modal .image-grid {
  padding: 0;
  margin: 0 -0.25rem;
}
/* line 21 */
.modal .image-grid .select {
  position: absolute;
  top: 0.25rem;
  bottom: 0.25rem;
  left: 0.25rem;
  right: 0.25rem;
  display: none;
  text-align: center;
}
/* line 30 */
.modal .image-grid .select i {
  height: 6rem;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -3rem;
  color: white;
  width: 100%;
}
/* line 42 */
.modal .image-grid .image:hover .select {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 48 */
.selected-images {
  padding: 0.5rem 0 0;
}
/* line 51 */
.selected-images .add-image {
  background-color: #e0e0e0;
  position: relative;
}
/* line 54 */
.selected-images .add-image i {
  height: 6rem;
  margin-top: -3rem;
  position: absolute;
  top: 50%;
  text-align: center;
}
/* line 64 */
.selected-images .image {
  margin-bottom: 0.5rem;
}
/* line 66 */
.selected-images .image .filename {
  position: absolute;
  bottom: 0;
  left: 0.5rem;
  right: 0;
  height: auto;
  line-height: 1.5rem;
  background-color: #e0e0e0;
  text-align: center;
  word-wrap: break-word;
}
/* line 78 */
.selected-images .image .delete {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #3878cc;
  color: white;
  width: 0;
  height: 2rem;
  text-align: center;
  transition: .3s ease all;
  -webkit-transition: .3s ease all;
  overflow: hidden;
}
/* line 91 */
.selected-images .image .delete .delete-inner {
  width: 2rem;
  height: 2rem;
  display: block;
}
/* line 95 */
.selected-images .image .delete .delete-inner i {
  width: 2rem;
  margin: 0 !important;
}
/* line 101 */
.selected-images .image:hover .delete {
  width: 2rem;
}
/* line 105 */
.selected-images .image:not(:first-child) i {
  margin-left: 0.5rem;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 116 */
.image-help-text h3 {
  margin-top: 0.5rem;
}

/* line 121 */
.permalink-wrapper {
  margin-bottom: 0.5rem;
}
/* line 124 */
.permalink-wrapper .permalink-title {
  font-weight: 700;
  font-size: 0.8rem;
  display: inline-block;
}
/* line 129 */
.permalink-wrapper p, .permalink-wrapper div {
  font-size: 0.8rem;
  display: inline-block;
}
/* line 134 */
.permalink-wrapper input[type="text"] {
  padding: 0.15rem 0;
  font-size: 0.8rem;
}

/* line 140 */
.edit-post-form input[type="submit"] {
  float: right;
  margin: 0 0.5rem;
}

/* line 144 */
.confirm-wrapper {
  display: inline-block;
}

/* line 12, /Users/dan/working/eventum/app/static/scss/app.scss */
nav {
  z-index: 1;
  width: 4rem;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #333333;
  color: white;
}
/* line 22, /Users/dan/working/eventum/app/static/scss/app.scss */
nav a, nav a:hover {
  color: white;
  text-decoration: none;
}

/* line 27, /Users/dan/working/eventum/app/static/scss/app.scss */
.main {
  min-height: 100%;
  margin-left: 4rem;
  background-color: #efefef;
}
/* line 32, /Users/dan/working/eventum/app/static/scss/app.scss */
.main > .inner {
  width: 90%;
  max-width: 100rem;
  margin: 0 auto;
}

/* line 39, /Users/dan/working/eventum/app/static/scss/app.scss */
.topbar {
  background-color: #3878cc;
  color: white;
  position: relative;
  height: 3.5rem;
  line-height: 3.5rem;
}
/* line 46, /Users/dan/working/eventum/app/static/scss/app.scss */
.topbar .left {
  float: left;
}
/* line 48, /Users/dan/working/eventum/app/static/scss/app.scss */
.topbar .left i {
  margin-left: 1rem;
}
/* line 53, /Users/dan/working/eventum/app/static/scss/app.scss */
.topbar .middle {
  display: inline;
  position: absolute;
  left: 50%;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
/* line 61, /Users/dan/working/eventum/app/static/scss/app.scss */
.topbar .middle .page-title {
  display: inline;
  width: auto;
  line-height: 3.5rem;
}
/* line 67, /Users/dan/working/eventum/app/static/scss/app.scss */
.topbar .right {
  float: right;
  margin-right: 1rem;
}
/* line 72, /Users/dan/working/eventum/app/static/scss/app.scss */
.topbar i {
  line-height: 3.5rem;
}
/* line 76, /Users/dan/working/eventum/app/static/scss/app.scss */
.topbar a {
  color: white;
}
/* line 79, /Users/dan/working/eventum/app/static/scss/app.scss */
.topbar a:hover {
  color: #efefef;
}
/* line 84, /Users/dan/working/eventum/app/static/scss/app.scss */
.topbar .text-button {
  font-size: 1.2rem;
  text-decoration: none !important;
}

/* line 90, /Users/dan/working/eventum/app/static/scss/app.scss */
.flashes {
  color: white;
  text-align: center;
}
/* line 94, /Users/dan/working/eventum/app/static/scss/app.scss */
.flashes li {
  padding: 0.5rem 0;
  background-color: #43ac6a;
  position: relative;
}
/* line 99, /Users/dan/working/eventum/app/static/scss/app.scss */
.flashes li i {
  position: absolute;
  height: 1rem;
  right: 0.5rem;
  top: 50%;
  margin-top: -0.5rem;
}

/* line 109, /Users/dan/working/eventum/app/static/scss/app.scss */
.content {
  background-color: white;
  position: relative;
  min-height: 100%;
  padding: 1rem;
}
/* line 115, /Users/dan/working/eventum/app/static/scss/app.scss */
.content .full-width {
  margin: 0 -1rem;
  width: auto;
}

/* line 121, /Users/dan/working/eventum/app/static/scss/app.scss */
.nav-item {
  overflow: hidden;
  width: 4rem;
  background-color: #333333;
  height: 3.5rem;
  line-height: 3.5rem;
  display: block;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  position: relative;
}
/* line 132, /Users/dan/working/eventum/app/static/scss/app.scss */
.nav-item.selected {
  background-color: #3878cc;
}
/* line 136, /Users/dan/working/eventum/app/static/scss/app.scss */
.nav-item .nav-icon {
  text-align: center;
  width: 4rem;
  height: 3.5rem;
  line-height: 3.5rem;
  display: inline-block;
  float: left;
}
/* line 144, /Users/dan/working/eventum/app/static/scss/app.scss */
.nav-item .nav-label {
  position: absolute;
  padding-left: 1rem;
  font-weight: 300;
  left: 4rem;
  right: 0;
  display: inline-block;
  float: right;
  font-size: 1.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
}

/* line 159, /Users/dan/working/eventum/app/static/scss/app.scss */
.toolbar {
  background-color: #3878cc;
  color: white;
}
/* line 163, /Users/dan/working/eventum/app/static/scss/app.scss */
.toolbar .middle {
  display: inline;
  position: absolute;
  left: 50%;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
/* line 172, /Users/dan/working/eventum/app/static/scss/app.scss */
.toolbar .right {
  float: right;
}

/* line 182, /Users/dan/working/eventum/app/static/scss/app.scss */
.w-5:hover {
  width: 9.5rem;
}
/* line 183, /Users/dan/working/eventum/app/static/scss/app.scss */
.w-5 .nav-label {
  width: 5.5rem;
}

/* line 185, /Users/dan/working/eventum/app/static/scss/app.scss */
.w-6:hover {
  width: 10rem;
}
/* line 186, /Users/dan/working/eventum/app/static/scss/app.scss */
.w-6 .nav-label {
  width: 6rem;
}

/* line 188, /Users/dan/working/eventum/app/static/scss/app.scss */
.w-6-5:hover {
  width: 10.5rem;
}
/* line 189, /Users/dan/working/eventum/app/static/scss/app.scss */
.w-6-5 .nav-label {
  width: 6.5rem;
}

/* line 191, /Users/dan/working/eventum/app/static/scss/app.scss */
.w-9:hover {
  width: 13rem;
}
/* line 192, /Users/dan/working/eventum/app/static/scss/app.scss */
.w-9 .nav-label {
  width: 9rem;
}

/* line 194, /Users/dan/working/eventum/app/static/scss/app.scss */
.fa-2-5x {
  font-size: 2.5em;
}

@media screen and (max-width: 40rem) {
  /* line 199, /Users/dan/working/eventum/app/static/scss/app.scss */
  .main > .inner {
    width: 100% !important;
  }
}
@media screen and (min-width: 90.063rem) {
  /* line 205, /Users/dan/working/eventum/app/static/scss/app.scss */
  nav {
    width: 12rem;
  }

  /* line 207, /Users/dan/working/eventum/app/static/scss/app.scss */
  .main > .inner {
    width: 100% !important;
  }

  /* line 209, /Users/dan/working/eventum/app/static/scss/app.scss */
  .main {
    margin-left: 12rem;
  }

  /* line 211, /Users/dan/working/eventum/app/static/scss/app.scss */
  .nav-item {
    -webkit-transition: none;
    transition: none;
    width: 12rem !important;
  }
  /* line 216, /Users/dan/working/eventum/app/static/scss/app.scss */
  .nav-item .nav-label {
    padding-left: 0;
  }
  /* line 220, /Users/dan/working/eventum/app/static/scss/app.scss */
  .nav-item:not(.selected):hover {
    background-color: #919191;
  }
  /* line 221, /Users/dan/working/eventum/app/static/scss/app.scss */
  .nav-item.selected:hover {
    background-color: #306cbb;
  }
}
/* line 1, /Users/dan/working/eventum/app/static/scss/utils.scss */
.text-width-calculation {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  display: inline-block;
  white-space: nowrap;
}

/* line 17, /Users/dan/working/eventum/app/static/scss/utils.scss */
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 21, /Users/dan/working/eventum/app/static/scss/utils.scss */
.hidden {
  display: none !important;
}

/* line 25, /Users/dan/working/eventum/app/static/scss/utils.scss */
.fa-6x {
  font-size: 6rem;
}

/* line 29, /Users/dan/working/eventum/app/static/scss/utils.scss */
.small {
  font-size: 0.8rem !important;
}

/* line 6 */
.opaque {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  padding-left: 4rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
}
/* line 17 */
.opaque .modal-wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 50rem;
  margin-top: 5rem;
  position: relative;
}
/* line 24 */
.opaque .modal-wrapper .modal {
  background-color: white;
  padding: 1rem;
}
/* line 29 */
.opaque .modal-wrapper .close-modal {
  position: absolute;
  right: -2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  color: white;
  background-color: #3878cc;
  text-align: center;
}
/* line 38 */
.opaque .modal-wrapper .close-modal i {
  line-height: 2.5rem;
}

/* line 45 */
body.modal-open {
  overflow: hidden;
}

@media print and (min-width: 90.063rem) {
  /* line 51 */
  .opaque {
    padding-left: 12rem;
  }
}
