/* line 10, /Users/dan/working/eventum/app/static/scss/base.scss */
body, html {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* line 17, /Users/dan/working/eventum/app/static/scss/base.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}
/* line 20, /Users/dan/working/eventum/app/static/scss/base.scss */
h1 tt, h1 code, h2 tt, h2 code, h3 tt, h3 code, h4 tt, h4 code, h5 tt, h5 code, h6 tt, h6 code {
  font-size: inherit;
}

/* line 22, /Users/dan/working/eventum/app/static/scss/base.scss */
h1 {
  font-size: 2rem;
  line-height: 2.4rem;
}

/* line 24, /Users/dan/working/eventum/app/static/scss/base.scss */
h2 {
  font-size: 1.7rem;
  line-height: 2.1rem;
}

/* line 26, /Users/dan/working/eventum/app/static/scss/base.scss */
h3 {
  font-size: 1.3rem;
  line-height: 1.7rem;
}

/* line 28, /Users/dan/working/eventum/app/static/scss/base.scss */
h5 {
  font-size: 0.83rem;
}

/* line 29, /Users/dan/working/eventum/app/static/scss/base.scss */
h6 {
  font-size: 0.75rem;
}

/* line 31, /Users/dan/working/eventum/app/static/scss/base.scss */
pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}

/* line 38, /Users/dan/working/eventum/app/static/scss/base.scss */
code, tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
  font-family: Monospace;
}

/* line 48, /Users/dan/working/eventum/app/static/scss/base.scss */
pre {
  font-family: Monospace;
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}
/* line 58, /Users/dan/working/eventum/app/static/scss/base.scss */
pre code, pre tt {
  background-color: transparent;
  border: none;
}

/* line 63, /Users/dan/working/eventum/app/static/scss/base.scss */
small {
  font-size: 0.8rem;
}

/* line 64, /Users/dan/working/eventum/app/static/scss/base.scss */
strong {
  font-weight: 700;
}

/* line 65, /Users/dan/working/eventum/app/static/scss/base.scss */
em {
  font-style: italic;
}

/* line 68, /Users/dan/working/eventum/app/static/scss/base.scss */
p {
  line-height: 1.3rem;
}

/* line 72, /Users/dan/working/eventum/app/static/scss/base.scss */
a, a:hover {
  text-decoration: none;
  color: inherit;
}

/* line 1, /Users/dan/working/eventum/app/static/scss/utils.scss */
.text-width-calculation {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  display: inline-block;
  white-space: nowrap;
}

/* line 17, /Users/dan/working/eventum/app/static/scss/utils.scss */
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 21, /Users/dan/working/eventum/app/static/scss/utils.scss */
.hidden {
  display: none !important;
}

/* line 25, /Users/dan/working/eventum/app/static/scss/utils.scss */
.fa-6x {
  font-size: 6rem;
}

/* line 29, /Users/dan/working/eventum/app/static/scss/utils.scss */
.small {
  font-size: 0.8rem !important;
}

/* line 8, /Users/dan/working/eventum/app/static/scss/tables.scss */
table {
  width: 100%;
  height: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
/* line 13, /Users/dan/working/eventum/app/static/scss/tables.scss */
table th {
  font-weight: bold;
  padding: 0.5rem 0;
}
/* line 17, /Users/dan/working/eventum/app/static/scss/tables.scss */
table.click tbody tr:hover {
  background-color: #efefef;
  cursor: pointer;
}
/* line 21, /Users/dan/working/eventum/app/static/scss/tables.scss */
table tbody tr {
  border-top: 1px solid #e0e0e0;
  font-size: 0;
  /* Removes spacing between table cells */
  height: 2.5rem;
  width: 100%;
  /* Restore font size from tr being set to 0 */
}
/* line 27, /Users/dan/working/eventum/app/static/scss/tables.scss */
table tbody tr:last-child {
  border-bottom: 1px solid #e0e0e0;
}
/* line 29, /Users/dan/working/eventum/app/static/scss/tables.scss */
table tbody tr td {
  width: 33%;
  overflow: hidden;
  font-size: 16px;
  position: relative;
  vertical-align: middle;
}
/* line 35, /Users/dan/working/eventum/app/static/scss/tables.scss */
table tbody tr td:first-child {
  padding-left: 0.5rem;
}
/* line 38, /Users/dan/working/eventum/app/static/scss/tables.scss */
table tbody tr td.right * {
  float: right;
}
/* line 43, /Users/dan/working/eventum/app/static/scss/tables.scss */
table tbody tr td.overflowing-text {
  display: inline-block;
  width: 100%;
  height: 100%;
  min-height: 2.5rem;
  overflow: hidden;
}
/* line 50, /Users/dan/working/eventum/app/static/scss/tables.scss */
table tbody tr td.overflowing-text .text {
  position: absolute;
  top: 0;
  left: 0.5rem;
  right: 0.5rem;
}
/* line 59, /Users/dan/working/eventum/app/static/scss/tables.scss */
table tbody tr td.with-image p {
  margin-left: 3rem;
  display: inline-block;
}
/* line 63, /Users/dan/working/eventum/app/static/scss/tables.scss */
table tbody tr td.with-image img {
  position: absolute;
  top: 50%;
  margin-top: -1.25rem;
  width: 2.5rem;
  height: 2.5rem;
  left: 0;
}
/* line 75, /Users/dan/working/eventum/app/static/scss/tables.scss */
table tbody tr h1 {
  font-size: 2rem;
}
/* line 76, /Users/dan/working/eventum/app/static/scss/tables.scss */
table tbody tr h2 {
  font-size: 1.7rem;
}
/* line 77, /Users/dan/working/eventum/app/static/scss/tables.scss */
table tbody tr h3 {
  font-size: 1.3rem;
}
/* line 78, /Users/dan/working/eventum/app/static/scss/tables.scss */
table tbody tr h5 {
  font-size: 0.83rem;
}
/* line 79, /Users/dan/working/eventum/app/static/scss/tables.scss */
table tbody tr h6 {
  font-size: 0.75rem;
}
/* line 80, /Users/dan/working/eventum/app/static/scss/tables.scss */
table tbody tr small {
  font-size: 0.8rem;
  line-height: 1.25rem;
}

@media screen and (max-width: 40rem) {
  /* line 88, /Users/dan/working/eventum/app/static/scss/tables.scss */
  table thead {
    display: none;
  }

  /* line 91, /Users/dan/working/eventum/app/static/scss/tables.scss */
  table tr td {
    display: inline-block;
    width: 100% !important;
    padding-left: 0.5rem;
    text-align: left;
    height: 2.5rem;
    line-height: 2.5rem;
  }
  /* line 99, /Users/dan/working/eventum/app/static/scss/tables.scss */
  table tr td p {
    display: inline-block !important;
  }
}
/* line 3 */
.posts {
  margin-top: -1rem;
}
/* line 5 */
.posts .post-title {
  width: 20%;
}
/* line 8 */
.posts .post-author {
  width: 27%;
}
/* line 11 */
.posts .post-date {
  text-align: center;
  width: 18%;
}

/* line 10, /Users/dan/working/eventum/app/static/scss/base.scss */
body, html {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* line 17, /Users/dan/working/eventum/app/static/scss/base.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}
/* line 20, /Users/dan/working/eventum/app/static/scss/base.scss */
h1 tt, h1 code, h2 tt, h2 code, h3 tt, h3 code, h4 tt, h4 code, h5 tt, h5 code, h6 tt, h6 code {
  font-size: inherit;
}

/* line 22, /Users/dan/working/eventum/app/static/scss/base.scss */
h1 {
  font-size: 2rem;
  line-height: 2.4rem;
}

/* line 24, /Users/dan/working/eventum/app/static/scss/base.scss */
h2 {
  font-size: 1.7rem;
  line-height: 2.1rem;
}

/* line 26, /Users/dan/working/eventum/app/static/scss/base.scss */
h3 {
  font-size: 1.3rem;
  line-height: 1.7rem;
}

/* line 28, /Users/dan/working/eventum/app/static/scss/base.scss */
h5 {
  font-size: 0.83rem;
}

/* line 29, /Users/dan/working/eventum/app/static/scss/base.scss */
h6 {
  font-size: 0.75rem;
}

/* line 31, /Users/dan/working/eventum/app/static/scss/base.scss */
pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}

/* line 38, /Users/dan/working/eventum/app/static/scss/base.scss */
code, tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
  font-family: Monospace;
}

/* line 48, /Users/dan/working/eventum/app/static/scss/base.scss */
pre {
  font-family: Monospace;
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}
/* line 58, /Users/dan/working/eventum/app/static/scss/base.scss */
pre code, pre tt {
  background-color: transparent;
  border: none;
}

/* line 63, /Users/dan/working/eventum/app/static/scss/base.scss */
small {
  font-size: 0.8rem;
}

/* line 64, /Users/dan/working/eventum/app/static/scss/base.scss */
strong {
  font-weight: 700;
}

/* line 65, /Users/dan/working/eventum/app/static/scss/base.scss */
em {
  font-style: italic;
}

/* line 68, /Users/dan/working/eventum/app/static/scss/base.scss */
p {
  line-height: 1.3rem;
}

/* line 72, /Users/dan/working/eventum/app/static/scss/base.scss */
a, a:hover {
  text-decoration: none;
  color: inherit;
}

/* line 1, /Users/dan/working/eventum/app/static/scss/utils.scss */
.text-width-calculation {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  display: inline-block;
  white-space: nowrap;
}

/* line 17, /Users/dan/working/eventum/app/static/scss/utils.scss */
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 21, /Users/dan/working/eventum/app/static/scss/utils.scss */
.hidden {
  display: none !important;
}

/* line 25, /Users/dan/working/eventum/app/static/scss/utils.scss */
.fa-6x {
  font-size: 6rem;
}

/* line 29, /Users/dan/working/eventum/app/static/scss/utils.scss */
.small {
  font-size: 0.8rem !important;
}

/* line 8 */
table {
  width: 100%;
  height: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
/* line 13 */
table th {
  font-weight: bold;
  padding: 0.5rem 0;
}
/* line 17 */
table.click tbody tr:hover {
  background-color: #efefef;
  cursor: pointer;
}
/* line 21 */
table tbody tr {
  border-top: 1px solid #e0e0e0;
  font-size: 0;
  /* Removes spacing between table cells */
  height: 2.5rem;
  width: 100%;
  /* Restore font size from tr being set to 0 */
}
/* line 27 */
table tbody tr:last-child {
  border-bottom: 1px solid #e0e0e0;
}
/* line 29 */
table tbody tr td {
  width: 33%;
  overflow: hidden;
  font-size: 16px;
  position: relative;
  vertical-align: middle;
}
/* line 35 */
table tbody tr td:first-child {
  padding-left: 0.5rem;
}
/* line 38 */
table tbody tr td.right * {
  float: right;
}
/* line 43 */
table tbody tr td.overflowing-text {
  display: inline-block;
  width: 100%;
  height: 100%;
  min-height: 2.5rem;
  overflow: hidden;
}
/* line 50 */
table tbody tr td.overflowing-text .text {
  position: absolute;
  top: 0;
  left: 0.5rem;
  right: 0.5rem;
}
/* line 59 */
table tbody tr td.with-image p {
  margin-left: 3rem;
  display: inline-block;
}
/* line 63 */
table tbody tr td.with-image img {
  position: absolute;
  top: 50%;
  margin-top: -1.25rem;
  width: 2.5rem;
  height: 2.5rem;
  left: 0;
}
/* line 75 */
table tbody tr h1 {
  font-size: 2rem;
}
/* line 76 */
table tbody tr h2 {
  font-size: 1.7rem;
}
/* line 77 */
table tbody tr h3 {
  font-size: 1.3rem;
}
/* line 78 */
table tbody tr h5 {
  font-size: 0.83rem;
}
/* line 79 */
table tbody tr h6 {
  font-size: 0.75rem;
}
/* line 80 */
table tbody tr small {
  font-size: 0.8rem;
  line-height: 1.25rem;
}

@media screen and (max-width: 40rem) {
  /* line 88 */
  table thead {
    display: none;
  }

  /* line 91 */
  table tr td {
    display: inline-block;
    width: 100% !important;
    padding-left: 0.5rem;
    text-align: left;
    height: 2.5rem;
    line-height: 2.5rem;
  }
  /* line 99 */
  table tr td p {
    display: inline-block !important;
  }
}
