@import '../common/media_queries';
@import 'colors';

$content-width: 60rem;
$extra-bold: 800;
$bold: 700;
$regular: 400;
$sans: 'Merriweather Sans', 'Helvetica Neue', Helvetica, Ariel sans-serif;
$slab:'Roboto Slab', Georgia, serif;

html, body {
    font-family: $sans;
    font-weight: $regular;
    height: 100%;
    -webkit-text-size-adjust:none;
}

p {
    margin-bottom: 0.3125rem;
    font-family: $slab;
    font-weight: $regular;
    font-size: 1.2rem;
    line-height: 1.9rem;
}

ul li {
    font-size: 1.2rem;
    line-height: 1.9rem;
}

em {
    font-style: italic;
}

strong {
    font-weight: 700;
}

img {
    max-width: 100%;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
}

input, textarea, {
    font-family: $slab;
    font-weight: $regular;
    font-size: 1rem;
    padding: 0.3125rem;
    &::-webkit-input-placeholder,
    &:-moz-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder {
        font-family: $slab;
        font-weight: $regular;
        font-size: 1rem;
    }
}

h1, .h1 {
    font-family: $sans;
    font-weight: $extra-bold;
    font-size: 3.75rem;
    line-height: 4.5rem;
    color: $gray;
}
h2, .h2 {
    font-family: $sans;
    font-weight: $bold;
    font-size: 2.25rem;
    line-height: 3rem;
    color: $gray;
}
h3, .h3 {
    font-family: $slab;
    font-weight: $regular;
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: $gray;
}
h4, .h4 {
    font-family: $sans;
    font-weight: $bold;
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-bottom: .625rem;
    text-transform: uppercase;
    color: $gray;
}
h5, .h5 {
    font-family: $slab;
    font-weight: $regular;
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 0.625rem;
    color: $gray;
}
h6, .h6 {
    font-family: $sans;
    font-weight: $regular;
    font-size: 0.875rem;
    line-height: 1rem;
    color: $gray;
}

@media screen and (max-width: $xl-desktop-max) and (min-width: $xl-desktop-min) {
    html, body {
        font-size: 14px;
        -webkit-text-size-adjust:14px;
    }
}

@media screen and (max-width: $desktop-max) and (min-width: $desktop-min) {
    html, body {
        font-size: 12px;
        -webkit-text-size-adjust:12px;
    }
}

@media screen and (max-width: $tablet-landscape-max) and (min-width: $tablet-landscape-min) {
    html, body {
        font-size: 14px;
        -webkit-text-size-adjust:14px;
    }
}

@media screen and (max-width: $tablet-portrait-max) and (min-width: $tablet-portrait-min) {
    html, body {
        font-size: 10px;
        -webkit-text-size-adjust:10px;
    }
}

@media screen and (max-width: $phone-max) {
    html, body {
        font-size: 16px;
    }
}