@import '../common/utils';
@import 'colors';
@import 'base';

button, .button {
    @extend .h4;
    text-transform: none;
    padding: 1rem 1.875rem;
    display: inline-block;
    border-radius: .3125rem;
    cursor: pointer;
    background-color: $white;
    color: $gray;

    &.gray {
        background-color: $gray;
        color: $white;
    }

    &.blue {
        background-color: $blue;
        color: $white;
        a {
            color: $white !important;
        }
    }
    &.green {
        background-color: $green;
        color: $white;
        a {
            color: $white !important;
        }
    }
}

@mixin scrim {
    background: -moz-linear-gradient(top, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.3) 65%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.01)), color-stop(65%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.3) 65%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.3) 65%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.3) 65%,rgba(0,0,0,0.5) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.3) 65%,rgba(0,0,0,0.5) 100%); /* W3C */
}

@mixin shadow-right($right) {
    box-shadow: $right 0 4px (2px - $right) rgba(115, 115, 115, 0.25);
    -moz-box-shadow: $right 0 4px (2px - $right)rgba(115, 115, 115, 0.25);
    -webkit-box-shadow: $right 0 4px (2px - $right) rgba(115, 115, 115, 0.25);
}

@mixin shadow {
    @include shadow-right(0);
}

@mixin border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}