{% extends 'page.html' %}
{% block title %}Blog{% endblock %}
{% import 'macros.html' as macros %}

{% block css %}
{{ super() }}
{% assets "scss_blog" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
<link rel="stylesheet" href="{{url_for('static', filename='css/lib/epiceditor/preview/github-highlighted.css')}}">
{% endblock %}

{% block js %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/blog/blog.js') }}"></script>
<script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block main %}
<section class="tagline">
    <h1>Blog</h1>
</section>
<section class="card top-card">
    <div class="content">
        <div class="section-header">
            <h4>Latest Posts</h4>
            <span class="bar green"></span>
        </div>
        {% for post in posts%}
        {{ macros.post(post) }}
        {% endfor %}
    </div>
</section>
<section>
    <div class="content">
        <div class="pagination">
            <div class="previous">
                {% if previous_index >= 0 %}
                <a href="{{ url_for('blog.blog_archive', index=previous_index) }}">
                    <p><i class="fa fa-chevron-left"></i>Previous</p>
                </a>
                {% endif %}
            </div>
            <div class="next">
                {% if next_index >= 0 %}
                <a href="{{ url_for('blog.blog_archive', index=next_index) }}">
                    <p>Next<i class="fa fa-chevron-right"></i></p>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}