{% extends 'page.html' %}
{% block title %}Blog{% endblock %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/lib/epiceditor/preview/github-highlighted.css')}}">
{% endblock %}

{% block js %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/blog/blog.js') }}"></script>
<script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block main %}
<section class="tagline">
    <h1>Blog</h1>
</section>
<section class="card top-card">
    <div class="content">
        <div class="section-header">
            <h4>Latest Posts</h4>
            <span class="bar green"></span>
        </div>
        {% for post in posts%}
        {% if post.published %}
        <a href="{{ url_for('blog.post', slug=post.slug) }}">
            <h2 class="title">{{post.title}}</h2>
        </a>
        <p class="date-published">Posted on {{post.date_published}} </p>
        <p class="author">By {{post.author.name}}</p>
        {{ post.snippet() | safe }}
        {% endif %}
        {% endfor %}
    </div>
</section>
{% endblock %}