{% extends 'base.html' %}

{% block css %}
{{ super() }}
{% assets "scss_blog" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
<link rel="stylesheet" href="{{url_for('static', filename='css/epiceditor/preview/github-highlighted.css')}}">
{% endblock %}

{% block js %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/blog/index.js') }}"></script>
<script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block title %}Blog{% endblock %}
{% block body %}
<ul class="posts">
{% block content %}
{% for post in posts%}
{% if post.published %}
<li class="post">
    <a href="/blog/post/{{ post.slug }}">
        <h2 class="title">{{post.title}}</h2>
    </a>
    <p class="date-published">Posted on {{post.date_published}} </p>
    <p class="author">By {{post.author.name}}</p>
    {{ post.snippet() | safe }}
</li>
{% endif %}
{% endfor %}
{% endblock %}
</ul>
{% endblock %}