{% extends "app.html" %}
{% import "macros.html" as macros %}

{% block css %}
{{ super() }}
{% assets "scss_blog_posts" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
<link rel="stylesheet" href="{{url_for('static', filename='css/epiceditor/preview/github-highlighted.css')}}">
{% endblock %}

{% block title %}Blog Posts{% endblock %}
{% block pagetitle %}Blog Posts{% endblock %}

{% block js %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/blog/posts.js') }}"></script>
<script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block barright %}
<a href="/blog/posts/new"><i class="fa fa-plus fa-2x"></i></a>
{% endblock %}
{% set active_page="Blog" %}

{% block content %}
{% if posts %}
<table class="posts" >
    <thead>
        <tr>
            <th>Title</th>
            <th>Snippet</th>
            <th>Author</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
{% for post in posts %}
<tr class="post">
    <td class="post-title">
        <a href="/blog/posts/edit/{{ post.id }}">
            <p>{{post.title}}</p>
        </a>
    </td>
    <td class="post-snippet overflowing-text">
        <a href="/blog/posts/edit/{{ post.id }}">
            <small class="text">
                {{post.snippet(length=40, newlines=False, tags=False) | safe}}
            </small>
        </a>
    </td>
    <td class="post-author with-image">
        <a href="/blog/posts/edit/{{ post.id }}">
            <img class="post-author-image" src="{{ post.author.get_profile_picture() }}">
                <p class="post-author-name">{{ post.author.name }}</p>
        </a>
    </td>
    <td class="post-date">
        <a href="/blog/posts/edit/{{ post.id }}">
            <small>{{ post.pretty_date()}}</small>
        </a>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<p style="text-align: center;">No posts!</p>
{% endif %}
{% endblock %}