{% extends 'page.html' %}
{% block title %}{{ post.title }} | {{ super() }}{% endblock %}


{% block main %}
<section class="tagline">
    <h1>{{ post.title }}</h1>
</section>
<section class="card top-card">
    <div class="post content">
        {% if post.featured_image %}
        <img class="post-image" src="{{ post.featured_image.url() }}" />
        {% endif %}
        <p class="date-published">Posted on {{post.human_readable_date() }} </p>
        <p class="author">By {{post.author.name}}</p>
        {{ post.html_content | safe }}
    </div>
</section>
<section class="post">
</section>
{% endblock %}
