@import '../colors';
@import '../media/image_grid';
@import '../media/select';
@import '../admin';

#epiceditor {
    margin-bottom: 1rem;
}

.content {
    padding-bottom: ($content-padding - $image-padding) !important;
}

.edit-post-form input[type="submit"] {
    float: right;
    margin: 0 0.5rem;
}
.confirm-wrapper {
    display: inline-block;
}
