@import '../colors';
@import '../media/image_grid';
@import '../media/select';
@import '../admin';

#epiceditor {
    margin-bottom: 1rem;
}

.content {
    padding-bottom: ($content-padding - $image-padding) !important;
}

.permalink-wrapper {
    margin-bottom: 0.5rem;

    .permalink-title {
        font-weight: 700;
        font-size: 0.8rem;
        display: inline-block;
    }
    p, div {
        font-size: 0.8rem;
        display: inline-block;
    }

    input[type="text"] {
        padding: 0.15rem 0;
        line-height: 1rem;
        font-size: 0.8rem;
    }
}

.edit-post-form input[type="submit"] {
    float: right;
    margin: 0 0.5rem;
}
.confirm-wrapper {
    display: inline-block;
}
