@import '../admin';

.posts {
    margin-top: -1rem;
    .post-title {
        width: 20%;
    }
    .post-author {
        width: 27%;
    }
    .post-date {
        text-align: center;
        width: 18%;
    }
}