/* line 7 */
nav {
  z-index: 1;
  width: 4rem;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #333333;
  color: white;
}
/* line 17 */
nav a, nav a:hover {
  color: white;
  text-decoration: none;
}

/* line 22 */
.main {
  min-height: 100%;
  margin-left: 4rem;
  background-color: #efefef;
}

/* line 28 */
.topbar {
  background-color: #3878cc;
  color: white;
  position: relative;
  width: 90%;
  max-width: 60rem;
  margin: 0 auto;
  height: 3.5rem;
  line-height: 3.5rem;
}
/* line 38 */
.topbar .left {
  float: left;
  margin-left: 1rem;
}
/* line 42 */
.topbar .middle {
  display: inline;
  position: absolute;
  left: 50%;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
/* line 50 */
.topbar .middle .page-title {
  display: inline;
  width: auto;
  line-height: 3.5rem;
}
/* line 56 */
.topbar .right {
  float: right;
  margin-right: 1rem;
}
/* line 61 */
.topbar i {
  line-height: 3.5rem;
}
/* line 65 */
.topbar a {
  color: white;
}
/* line 68 */
.topbar a:hover {
  color: #efefef;
}

/* line 74 */
.content {
  background-color: white;
  width: 90%;
  max-width: 60rem;
  margin: 0 auto;
  min-height: 100%;
  padding: 2rem 0;
}

/* line 83 */
.nav-item {
  overflow: hidden;
  width: 4rem;
  background-color: #333333;
  height: 3.5rem;
  line-height: 3.5rem;
  display: block;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  position: relative;
}
/* line 94 */
.nav-item.selected {
  background-color: #3878cc;
}
/* line 98 */
.nav-item .nav-icon {
  text-align: center;
  width: 4rem;
  height: 3.5rem;
  line-height: 3.5rem;
  display: inline-block;
  float: left;
}
/* line 106 */
.nav-item .nav-label {
  position: absolute;
  margin-left: 1rem;
  left: 4rem;
  right: 0;
  display: inline-block;
  float: right;
  font-size: 1.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
}

/* line 125 */
.w-5:hover {
  width: 9.5rem;
}
/* line 126 */
.w-5 .nav-label {
  width: 5.5rem;
}

/* line 128 */
.w-6:hover {
  width: 10rem;
}
/* line 129 */
.w-6 .nav-label {
  width: 6rem;
}

/* line 131 */
.w-6-5:hover {
  width: 10.5rem;
}
/* line 132 */
.w-6-5 .nav-label {
  width: 6.5rem;
}

/* line 134 */
.w-8:hover {
  width: 12.5rem;
}
/* line 135 */
.w-8 .nav-label {
  width: 8.5rem;
}

/* line 137 */
.fa-2-5x {
  font-size: 2.5em;
}
