/* line 12 */
nav {
  z-index: 1;
  width: 4rem;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #333333;
  color: white;
}
/* line 22 */
nav a, nav a:hover {
  color: white;
  text-decoration: none;
}

/* line 27 */
.main {
  min-height: 100%;
  margin-left: 4rem;
  background-color: #efefef;
}
/* line 32 */
.main > .inner {
  width: 90%;
  max-width: 100rem;
  margin: 0 auto;
}

/* line 39 */
.topbar {
  background-color: #3878cc;
  color: white;
  position: relative;
  height: 3.5rem;
  line-height: 3.5rem;
}
/* line 46 */
.topbar .left {
  float: left;
}
/* line 48 */
.topbar .left i {
  margin-left: 1rem;
}
/* line 53 */
.topbar .middle {
  display: inline;
  position: absolute;
  left: 50%;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
/* line 61 */
.topbar .middle .page-title {
  display: inline;
  width: auto;
  line-height: 3.5rem;
}
/* line 67 */
.topbar .right {
  float: right;
  margin-right: 1rem;
}
/* line 72 */
.topbar i {
  line-height: 3.5rem;
}
/* line 76 */
.topbar a {
  color: white;
}
/* line 79 */
.topbar a:hover {
  color: #efefef;
}
/* line 84 */
.topbar .text-button {
  font-size: 1.2rem;
  text-decoration: none !important;
}

/* line 90 */
.flashes {
  color: white;
  text-align: center;
}
/* line 94 */
.flashes li {
  padding: 0.5rem 0;
  background-color: #43ac6a;
  position: relative;
}
/* line 99 */
.flashes li i {
  position: absolute;
  height: 1rem;
  right: 0.5rem;
  top: 50%;
  margin-top: -0.5rem;
}

/* line 109 */
.content {
  background-color: white;
  position: relative;
  min-height: 100%;
  padding: 1rem;
}
/* line 115 */
.content .full-width {
  margin: 0 -1rem;
  width: auto;
}

/* line 121 */
.nav-item {
  overflow: hidden;
  width: 4rem;
  background-color: #333333;
  height: 3.5rem;
  line-height: 3.5rem;
  display: block;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  position: relative;
}
/* line 132 */
.nav-item.selected {
  background-color: #3878cc;
}
/* line 136 */
.nav-item .nav-icon {
  text-align: center;
  width: 4rem;
  height: 3.5rem;
  line-height: 3.5rem;
  display: inline-block;
  float: left;
}
/* line 144 */
.nav-item .nav-label {
  position: absolute;
  padding-left: 1rem;
  font-weight: 300;
  left: 4rem;
  right: 0;
  display: inline-block;
  float: right;
  font-size: 1.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
}

/* line 159 */
.toolbar {
  background-color: #3878cc;
  color: white;
}
/* line 163 */
.toolbar .middle {
  display: inline;
  position: absolute;
  left: 50%;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
/* line 172 */
.toolbar .right {
  float: right;
}

/* line 182 */
.w-5:hover {
  width: 9.5rem;
}
/* line 183 */
.w-5 .nav-label {
  width: 5.5rem;
}

/* line 185 */
.w-6:hover {
  width: 10rem;
}
/* line 186 */
.w-6 .nav-label {
  width: 6rem;
}

/* line 188 */
.w-6-5:hover {
  width: 10.5rem;
}
/* line 189 */
.w-6-5 .nav-label {
  width: 6.5rem;
}

/* line 191 */
.w-9:hover {
  width: 13rem;
}
/* line 192 */
.w-9 .nav-label {
  width: 9rem;
}

/* line 194 */
.fa-2-5x {
  font-size: 2.5em;
}

@media screen and (max-width: 40rem) {
  /* line 199 */
  .main > .inner {
    width: 100% !important;
  }
}
@media screen and (min-width: 90.063rem) {
  /* line 205 */
  nav {
    width: 12rem;
  }

  /* line 207 */
  .main > .inner {
    width: 100% !important;
  }

  /* line 209 */
  .main {
    margin-left: 12rem;
  }

  /* line 211 */
  .nav-item {
    -webkit-transition: none;
    transition: none;
    width: 12rem !important;
  }
  /* line 216 */
  .nav-item .nav-label {
    padding-left: 0;
  }
  /* line 220 */
  .nav-item:not(.selected):hover {
    background-color: #919191;
  }
  /* line 221 */
  .nav-item.selected:hover {
    background-color: #306cbb;
  }
}

/* line 3 */
input[type="submit"], button, .btn {
  display: inline-block;
  padding: 0.75rem 0.5rem;
  background-color: #3878cc;
  color: white;
  border: none;
  border: none;
  margin: 0;
}
/* line 12 */
input[type="submit"]:hover, button:hover, .btn:hover {
  cursor: pointer;
  color: #e0e0e0;
}
/* line 17 */
input[type="submit"].big, button.big, .btn.big {
  padding: 0.75rem 1rem;
  min-width: 5rem;
}

/* line 23 */
input[type="submit"] {
  padding: 0.7rem 0.5rem;
}

/* line 1 */
.text-width-calculation {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  display: inline-block;
  white-space: nowrap;
}

/* line 17 */
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 21 */
.hidden {
  display: none !important;
}

/* line 25 */
.fa-6x {
  font-size: 6rem;
}

/* line 29 */
.small {
  font-size: 0.8rem !important;
}

/* line 10, /Users/dan/working/eventum/app/static/scss/base.scss */
body, html {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* line 17, /Users/dan/working/eventum/app/static/scss/base.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}
/* line 20, /Users/dan/working/eventum/app/static/scss/base.scss */
h1 tt, h1 code, h2 tt, h2 code, h3 tt, h3 code, h4 tt, h4 code, h5 tt, h5 code, h6 tt, h6 code {
  font-size: inherit;
}

/* line 22, /Users/dan/working/eventum/app/static/scss/base.scss */
h1 {
  font-size: 2rem;
  line-height: 2.4rem;
}

/* line 24, /Users/dan/working/eventum/app/static/scss/base.scss */
h2 {
  font-size: 1.7rem;
  line-height: 2.1rem;
}

/* line 26, /Users/dan/working/eventum/app/static/scss/base.scss */
h3 {
  font-size: 1.3rem;
  line-height: 1.7rem;
}

/* line 28, /Users/dan/working/eventum/app/static/scss/base.scss */
h5 {
  font-size: 0.83rem;
}

/* line 29, /Users/dan/working/eventum/app/static/scss/base.scss */
h6 {
  font-size: 0.75rem;
}

/* line 31, /Users/dan/working/eventum/app/static/scss/base.scss */
pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}

/* line 38, /Users/dan/working/eventum/app/static/scss/base.scss */
code, tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
  font-family: Monospace;
}

/* line 48, /Users/dan/working/eventum/app/static/scss/base.scss */
pre {
  font-family: Monospace;
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}
/* line 58, /Users/dan/working/eventum/app/static/scss/base.scss */
pre code, pre tt {
  background-color: transparent;
  border: none;
}

/* line 63, /Users/dan/working/eventum/app/static/scss/base.scss */
small {
  font-size: 0.8rem;
}

/* line 64, /Users/dan/working/eventum/app/static/scss/base.scss */
strong {
  font-weight: 700;
}

/* line 65, /Users/dan/working/eventum/app/static/scss/base.scss */
em {
  font-style: italic;
}

/* line 68, /Users/dan/working/eventum/app/static/scss/base.scss */
p {
  line-height: 1.3rem;
}

/* line 72, /Users/dan/working/eventum/app/static/scss/base.scss */
a, a:hover {
  text-decoration: none;
  color: inherit;
}

/* line 1, /Users/dan/working/eventum/app/static/scss/utils.scss */
.text-width-calculation {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  display: inline-block;
  white-space: nowrap;
}

/* line 17, /Users/dan/working/eventum/app/static/scss/utils.scss */
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 21, /Users/dan/working/eventum/app/static/scss/utils.scss */
.hidden {
  display: none !important;
}

/* line 25, /Users/dan/working/eventum/app/static/scss/utils.scss */
.fa-6x {
  font-size: 6rem;
}

/* line 29, /Users/dan/working/eventum/app/static/scss/utils.scss */
.small {
  font-size: 0.8rem !important;
}

/* Remove inline-block spacing */
/* line 6 */
form {
  font-size: 0;
}

/* line 7 */
form * {
  font-size: 1rem;
}

/* line 8 */
form h1 {
  font-size: 2rem;
}

/* line 9 */
form h2 {
  font-size: 1.7rem;
}

/* line 10 */
form h3 {
  font-size: 1.3rem;
}

/* line 11 */
form h5 {
  font-size: 0.83rem;
}

/* line 12 */
form h6 {
  font-size: 0.75rem;
}

/* line 13 */
form li {
  display: inline-block;
}

/* line 15 */
input[type="text"] {
  margin: 0;
  padding: 0;
  line-height: 1rem;
  min-width: 5rem;
  padding: 0.57rem 0.2rem;
}

/* line 24 */
.title-wrapper input[type="text"] {
  width: 100%;
  max-width: 36rem;
  font-size: 1.7rem;
  line-height: 2rem;
  padding: 0.15rem;
  vertical-align: middle;
}
/* line 34 */
.title-wrapper input[type="text"]::-webkit-input-placeholder, .title-wrapper input[type="text"]:-moz-placeholder, .title-wrapper input[type="text"]:-ms-input-placeholder {
  line-height: 1.7rem;
}

/* line 41 */
.with-icon > i {
  position: absolute;
  width: 2rem;
  height: 2.5rem;
  text-align: center;
  line-height: 2.5rem;
}
/* line 50 */
.with-icon > div {
  margin-left: 2.5rem;
}

/* line 57 */
.toggle-wrapper {
  display: inline-block;
  vertical-align: middle;
  height: 2.5rem;
  width: 10.5rem;
  overflow: hidden;
  position: relative;
}
/* line 64 */
.toggle-wrapper .label {
  width: 2.5rem;
  position: absolute;
  text-align: center;
  height: 2.5rem;
  line-height: 2.2rem;
  font-size: 1.5rem;
  top: 0;
  left: 0;
  background-color: #333333;
  color: white;
}
/* line 76 */
.toggle-wrapper .label, .toggle-wrapper .label i {
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}
/* line 82 */
.toggle-wrapper .on {
  background-color: #43ac6a;
  left: 0;
  right: 8rem;
}
/* line 86 */
.toggle-wrapper .on .inner {
  position: absolute;
  width: 8rem;
  left: 0;
}
/* line 92 */
.toggle-wrapper .off {
  background-color: #d9534f;
  left: 2rem;
  right: 0;
}
/* line 97 */
.toggle-wrapper .off .inner {
  position: absolute;
  width: 8rem;
  right: 0;
}
/* line 103 */
.toggle-wrapper .on, .toggle-wrapper .off {
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  overflow: hidden;
  position: absolute;
  height: 2.5rem;
  line-height: 2.5rem;
  color: white;
  text-align: center;
  display: inline-block;
}
/* line 115 */
.toggle-wrapper.active .label {
  top: 0;
  left: 8rem;
}
/* line 118 */
.toggle-wrapper.active .label i {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}
/* line 126 */
.toggle-wrapper.active .on {
  right: 2rem;
}
/* line 129 */
.toggle-wrapper.active .off {
  left: 8rem;
}

/* line 136 */
.confirm-wrapper {
  height: 2.5rem;
  line-height: 2.5rem;
  vertical-align: middle;
}

/* line 141 */
.confirm {
  overflow: hidden;
  width: 8rem;
  float: right;
  height: 2.5rem;
  line-height: 2.5rem;
  display: inline-block;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

/* line 151 */
.confirm-hidden {
  width: 0 !important;
}

/* line 154 */
.confirm-prompt {
  line-height: 2.5rem;
  height: 2.5rem;
  padding: 0 0.5rem;
}

/* line 159 */
.confirm-form {
  line-height: 2.5rem;
  height: 2.5rem;
  float: right;
  width: 8rem;
  display: inline-block;
  font-size: 0;
}
/* line 168 */
.confirm-form input {
  cursor: pointer;
  border: 0;
  margin: 0;
  padding: 0.25rem;
  text-align: center;
  font-size: 0.8rem;
  height: 2.5rem;
  width: 4rem;
}
/* line 178 */
.confirm-form input.confirm-confirm {
  background-color: #d9534f;
}
