/* line 12 */
body, html {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* line 19 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}
/* line 22 */
h1 tt, h1 code, h2 tt, h2 code, h3 tt, h3 code, h4 tt, h4 code, h5 tt, h5 code, h6 tt, h6 code {
  font-size: inherit;
}

/* line 24 */
h1 {
  font-size: 2rem;
  line-height: 2.4rem;
}

/* line 26 */
h2 {
  font-size: 1.7rem;
  line-height: 2.1rem;
}

/* line 28 */
h3 {
  font-size: 1.3rem;
  line-height: 1.7rem;
}

/* line 30 */
h5 {
  font-size: 0.83rem;
}

/* line 31 */
h6 {
  font-size: 0.75rem;
}

/* line 33 */
pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}

/* line 40 */
code, tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
  font-family: Monospace;
}

/* line 50 */
pre {
  font-family: Monospace;
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}
/* line 60 */
pre code, pre tt {
  background-color: transparent;
  border: none;
}

/* line 65 */
small {
  font-size: 0.8rem;
}

/* line 66 */
strong {
  font-weight: 700;
}

/* line 67 */
em {
  font-style: italic;
}

/* line 70 */
p {
  line-height: 1.3rem;
}

/* line 73 */
hr {
  border: 0;
  height: 1px;
  background-color: #e0e0e0;
}

/* line 80 */
a, a:hover {
  text-decoration: none;
  color: inherit;
}
