@import '../colors';

/* Hide the file input, but without `display:none`, which is often seen as a
 * security threat by many browsers.
 */
.hidden-but-not-forgotten {
    height: 0;
    overflow: hidden;
}

.form-component {
    display: inline-block;
    height: 2.5rem;
}

input[type="submit"] {
    display: block;
    margin-top: 1rem;
}