$phone-max: 40em;
$tablet-portrait-min: 40.063em;
$tablet-portrait-max: 48em;
$tablet-landscape-min: 48.063em;
$tablet-landscape-max: 64em;
$desktop-min: 64.063em;
$desktop-max: 90em;
$xl-desktop-min: 90.063em;
$xl-desktop-max: 120em;
$xxl-desktop-min: 120.063em;
