$phone-max: 40rem;
$tablet-portraint-min: 40.063rem;
$tablet-portrait-max: 48rem;
$tablet-landscape-min: 48.063rem;
$tablet-landscape-max: 64rem;
$desktop-min: 64.063rem;
$desktop-max: 90rem;
$xl-desktop-min: 90.063rem;
$xl-desktop-max: 120rem;
$xxl-desktop-min: 120.063rem;
