@import '../base';

.large.post {
    .text {
        &:not(.with-image) {
            width: 100%;
            float: none;
        }
    }
}

.post {
    .date {
        font-weight: 700;
        display: inline-block;
        vertical-align: baseline;
        margin-bottom: 1rem;
    }
    .author {
        display: inline-block;
        vertical-align: baseline;
        margin-bottom: 1rem;
    }
}

.callout.blue {
    margin-top: 3rem;
}