.post.single {

    .author {
        vertical-align: middle;
    }

    .details {
        margin-bottom: 1rem;

        i {
            background-position: center center;
            background-size: cover;
            display: inline-block;
            width: 50px;
            height: 50px;
            margin-bottom: 0;
        }
    }
    img {
        margin: 0 auto;
        display: block;
    }

    ol {
        list-style: initial;
        list-style-type: decimal;
        font-size: 1.2rem;
        margin-left: 2rem;
        margin-bottom: 1rem;
        line-height: 1.9rem;
    }
}
