/* line 1, /Users/dan/working/eventum/client/static/scss/_utils.scss */
.text-width-calculation {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  display: inline-block;
  white-space: nowrap;
}

/* line 17, /Users/dan/working/eventum/client/static/scss/_utils.scss */
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 21, /Users/dan/working/eventum/client/static/scss/_utils.scss */
.hidden {
  display: none !important;
}

/* line 25, /Users/dan/working/eventum/client/static/scss/_utils.scss */
.small {
  font-size: 0.8rem !important;
}

/* line 11, /Users/dan/working/eventum/client/static/scss/base.scss */
html, body {
  font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Ariel sans-serif;
  font-weight: 400;
  height: 100%;
}

/* line 17, /Users/dan/working/eventum/client/static/scss/base.scss */
p {
  margin-bottom: 0.3125rem;
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.9rem;
}

/* line 25, /Users/dan/working/eventum/client/static/scss/base.scss */
pre {
  margin: 1rem 0;
  padding: 1rem;
  background-color: #f8f8f8;
  font-family: monospace;
}

/* line 32, /Users/dan/working/eventum/client/static/scss/base.scss */
ul li {
  font-size: 1.2rem;
  line-height: 1.9rem;
}

/* line 37, /Users/dan/working/eventum/client/static/scss/base.scss */
em {
  font-style: italic;
}

/* line 41, /Users/dan/working/eventum/client/static/scss/base.scss */
strong {
  font-weight: 700;
}

/* line 45, /Users/dan/working/eventum/client/static/scss/base.scss */
img {
  max-width: 100%;
}

/* line 49, /Users/dan/working/eventum/client/static/scss/base.scss */
a, a:hover {
  color: inherit;
  text-decoration: none;
}

/* line 54, /Users/dan/working/eventum/client/static/scss/base.scss */
input, textarea {
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 400;
  font-size: 1rem;
  padding: 0.3125rem;
}
/* line 59, /Users/dan/working/eventum/client/static/scss/base.scss */
input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, textarea::-webkit-input-placeholder, textarea:-moz-placeholder, textarea::-moz-placeholder, textarea:-ms-input-placeholder {
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 400;
  font-size: 1rem;
}

/* line 69, /Users/dan/working/eventum/client/static/scss/base.scss */
h1, .h1 {
  font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Ariel sans-serif;
  font-weight: 800;
  font-size: 3.75rem;
  line-height: 4.5rem;
  color: #222;
}

/* line 76, /Users/dan/working/eventum/client/static/scss/base.scss */
h2, .h2 {
  font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Ariel sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3rem;
  color: #222;
}

/* line 83, /Users/dan/working/eventum/client/static/scss/base.scss */
h3, .h3 {
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: #222;
}

/* line 90, /Users/dan/working/eventum/client/static/scss/base.scss */
h4, .h4, button, .button {
  font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Ariel sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: .625rem;
  text-transform: uppercase;
  color: #222;
}

/* line 99, /Users/dan/working/eventum/client/static/scss/base.scss */
h5, .h5 {
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 0.625rem;
  color: #222;
}

/* line 107, /Users/dan/working/eventum/client/static/scss/base.scss */
h6, .h6 {
  font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Ariel sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #222;
}

@media screen and (max-width: 1920px) {
  /* line 116, /Users/dan/working/eventum/client/static/scss/base.scss */
  html, body {
    font-size: 14px;
  }
}
@media screen and (max-width: 1440px) {
  /* line 122, /Users/dan/working/eventum/client/static/scss/base.scss */
  html, body {
    font-size: 12px;
  }
}
@media screen and (max-width: 1024px) {
  /* line 128, /Users/dan/working/eventum/client/static/scss/base.scss */
  html, body {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  /* line 134, /Users/dan/working/eventum/client/static/scss/base.scss */
  html, body {
    font-size: 10px;
  }
}
/* line 42, /Users/dan/working/eventum/client/static/scss/_utils.scss */
button, .button {
  text-transform: none;
  padding: 1rem 1.875rem;
  display: inline-block;
  border-radius: .3125rem;
  cursor: pointer;
  background-color: white;
  color: #222;
}
/* line 52, /Users/dan/working/eventum/client/static/scss/_utils.scss */
button.gray, .button.gray {
  background-color: #222;
  color: white;
}
/* line 57, /Users/dan/working/eventum/client/static/scss/_utils.scss */
button.blue, .button.blue {
  background-color: #59ACFF;
  color: white;
}
/* line 60, /Users/dan/working/eventum/client/static/scss/_utils.scss */
button.blue a, .button.blue a {
  color: white !important;
}
/* line 64, /Users/dan/working/eventum/client/static/scss/_utils.scss */
button.green, .button.green {
  background-color: #50E582;
  color: white;
}
/* line 67, /Users/dan/working/eventum/client/static/scss/_utils.scss */
button.green a, .button.green a {
  color: white !important;
}

/* line 11, /Users/dan/working/eventum/client/static/scss/base.scss */
html, body {
  font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Ariel sans-serif;
  font-weight: 400;
  height: 100%;
}

/* line 17, /Users/dan/working/eventum/client/static/scss/base.scss */
p {
  margin-bottom: 0.3125rem;
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.9rem;
}

/* line 25, /Users/dan/working/eventum/client/static/scss/base.scss */
pre {
  margin: 1rem 0;
  padding: 1rem;
  background-color: #f8f8f8;
  font-family: monospace;
}

/* line 32, /Users/dan/working/eventum/client/static/scss/base.scss */
ul li {
  font-size: 1.2rem;
  line-height: 1.9rem;
}

/* line 37, /Users/dan/working/eventum/client/static/scss/base.scss */
em {
  font-style: italic;
}

/* line 41, /Users/dan/working/eventum/client/static/scss/base.scss */
strong {
  font-weight: 700;
}

/* line 45, /Users/dan/working/eventum/client/static/scss/base.scss */
img {
  max-width: 100%;
}

/* line 49, /Users/dan/working/eventum/client/static/scss/base.scss */
a, a:hover {
  color: inherit;
  text-decoration: none;
}

/* line 54, /Users/dan/working/eventum/client/static/scss/base.scss */
input, textarea {
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 400;
  font-size: 1rem;
  padding: 0.3125rem;
}
/* line 59, /Users/dan/working/eventum/client/static/scss/base.scss */
input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, textarea::-webkit-input-placeholder, textarea:-moz-placeholder, textarea::-moz-placeholder, textarea:-ms-input-placeholder {
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 400;
  font-size: 1rem;
}

/* line 69, /Users/dan/working/eventum/client/static/scss/base.scss */
h1, .h1 {
  font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Ariel sans-serif;
  font-weight: 800;
  font-size: 3.75rem;
  line-height: 4.5rem;
  color: #222;
}

/* line 76, /Users/dan/working/eventum/client/static/scss/base.scss */
h2, .h2 {
  font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Ariel sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3rem;
  color: #222;
}

/* line 83, /Users/dan/working/eventum/client/static/scss/base.scss */
h3, .h3 {
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: #222;
}

/* line 90, /Users/dan/working/eventum/client/static/scss/base.scss */
h4, .h4, button, .button {
  font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Ariel sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: .625rem;
  text-transform: uppercase;
  color: #222;
}

/* line 99, /Users/dan/working/eventum/client/static/scss/base.scss */
h5, .h5 {
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 0.625rem;
  color: #222;
}

/* line 107, /Users/dan/working/eventum/client/static/scss/base.scss */
h6, .h6 {
  font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Ariel sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #222;
}

@media screen and (max-width: 1920px) {
  /* line 116, /Users/dan/working/eventum/client/static/scss/base.scss */
  html, body {
    font-size: 14px;
  }
}
@media screen and (max-width: 1440px) {
  /* line 122, /Users/dan/working/eventum/client/static/scss/base.scss */
  html, body {
    font-size: 12px;
  }
}
@media screen and (max-width: 1024px) {
  /* line 128, /Users/dan/working/eventum/client/static/scss/base.scss */
  html, body {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  /* line 134, /Users/dan/working/eventum/client/static/scss/base.scss */
  html, body {
    font-size: 10px;
  }
}
/* line 7 */
.resources li {
  padding: 2rem 0 0;
}
/* line 9 */
.resources li:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
/* line 13 */
.resources li .resource {
  display: inline-block;
  width: 50%;
  float: left;
}
/* line 18 */
.resources li .resource:first-child .inner {
  padding-right: 1rem;
}
/* line 21 */
.resources li .resource:nth-child(2) .inner {
  padding-left: 1rem;
}
/* line 25 */
.resources li .resource p {
  font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Ariel sans-serif;
}
/* line 28 */
.resources li .resource.featured {
  background-color: white;
  width: 100%;
}

/* line 36 */
.adi-resource {
  height: 1.2rem;
}

/* line 43 */
section.with-sidebar {
  -webkit-transition: 0.2s 0 ease all;
  -moz-transition: 0.2s 0 ease all;
  -o-transition: 0.2s 0 ease all;
  transition: 0.2s 0 ease all;
  padding: 2rem 0 !important;
}

/* line 49 */
.topic.in-track, .topics li.in-track, .tracks li.in-track {
  display: none;
}
/* line 51 */
.topic.in-track.on, .topics li.in-track.on, .tracks li.in-track.on {
  display: block;
}

/* line 59 */
.tracks i {
  display: none;
}
/* line 63 */
.tracks .on i {
  position: absolute;
  right: 0.5rem;
  line-height: 2.5rem;
  display: inline;
}

@media screen and (max-width: 1024px) {
  /* line 73 */
  section.with-sidebar {
    padding-left: 13rem !important;
  }

  /* line 77 */
  .sidebar.fixed {
    left: 0 !important;
  }
}
/* line 82 */
.main {
  padding-bottom: 0;
}

/* line 86 */
.sidebar-wrapper {
  position: relative;
  margin: 3rem auto 0;
  overflow-y: hidden;
  width: 100%;
  max-width: 92rem;
}
/* line 93 */
.sidebar-wrapper .sidebar {
  -webkit-transition: 0.4s 0 ease all;
  -moz-transition: 0.4s 0 ease all;
  -o-transition: 0.4s 0 ease all;
  transition: 0.4s 0 ease all;
  padding-top: 2rem;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  width: 13rem;
  z-index: 100;
  position: absolute;
}
/* line 104 */
.sidebar-wrapper .sidebar > .inner {
  padding-left: 1rem;
}
/* line 108 */
.sidebar-wrapper .sidebar::-webkit-scrollbar {
  display: none;
}
/* line 112 */
.sidebar-wrapper .sidebar .bar {
  margin-bottom: 1rem;
  height: 0.3125rem !important;
}
/* line 118 */
.sidebar-wrapper .sidebar.fixed {
  position: fixed;
  left: auto;
}
/* line 123 */
.sidebar-wrapper .sidebar.bottom {
  overflow-y: hidden;
  bottom: 0;
  top: auto;
  position: absolute;
}
/* line 130 */
.sidebar-wrapper .sidebar ul {
  font-size: 0;
}
/* line 133 */
.sidebar-wrapper .sidebar ul li {
  font-size: 1rem;
  margin-left: -1rem;
  padding-left: 1rem;
  margin-top: -4px;
}
/* line 138 */
.sidebar-wrapper .sidebar ul li:hover {
  background-color: #ddd;
}
/* line 142 */
.sidebar-wrapper .sidebar ul li p {
  margin-left: -1rem;
  padding-left: 1rem;
  font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Ariel sans-serif;
  font-size: 1rem !important;
  line-height: 2.5rem;
}

@media screen and (max-width: 640px) {
  /* line 155 */
  .sidebar {
    display: none !important;
  }

  /* line 158 */
  section.with-sidebar {
    padding-left: 0 !important;
    max-width: 95%;
    margin: 0 auto;
  }

  /* line 164 */
  .resources li {
    padding-top: 0;
  }
  /* line 167 */
  .resources li .resource {
    width: 100% !important;
    margin-top: 1rem;
  }
  /* line 170 */
  .resources li .resource .inner {
    padding: 0 !important;
  }
}
