@import 'colors';
@import 'base';
@import 'utils';

/* Remove inline-block spacing */
form { font-size: 0; }
form * { font-size: 1rem; }
form h1 { font-size: $h1; }
form h2 { font-size: $h2; }
form h3 { font-size: $h3; }
form h5 { font-size: $h5; }
form h6 { font-size: $h6; }
form li { display: inline-block; }

input[type="text"] {
    margin: 0;
    padding: 0;
    line-height: 1rem;
    min-width: 5rem;
    padding: 0.57rem 0.2rem;
}

.title-wrapper {
    input[type="text"] {
        width: 100%;
        max-width: 36rem;
        font-size: $h2;
        line-height: 2rem;
        padding: 0.15rem;
        vertical-align: middle;

        &::-webkit-input-placeholder,
        &:-moz-placeholder,
        &:-ms-input-placeholder {
            line-height: 1.7rem;
        }
    }
}

.with-icon {
    & > i {
        position: absolute;
        width: 2rem;
        height: 2.5rem;
        text-align: center;
        line-height: 2.5rem;

    }

    & > div {
        margin-left: 2.5rem;
    }
}

$toggle-speed: 0.3s;

.toggle-wrapper {
    display: inline-block;
    vertical-align: middle;
    height: 2.5rem;
    width: 10.5rem;
    overflow: hidden;
    position: relative;
    .label {
        width: 2.5rem;
        position: absolute;
        text-align: center;
        height: 2.5rem;
        line-height: 2.2rem;
        font-size: 1.5rem;
        top: 0;
        left: 0;
        background-color: $darkgray;
        color: $white;

        &, i {
            transition: $toggle-speed ease all;
            -webkit-transition: $toggle-speed ease all;

        }
    }
    .on {
        background-color: $green;
        left: 0;
        right: 8rem;
        .inner {
            position: absolute;
            width: 8rem;
            left: 0;
        }
    }
    .off {
        background-color: $red;
        left: 2rem;
        right: 0;

        .inner {
            position: absolute;
            width: 8rem;
            right: 0;
        }
    }
    .on, .off {
        transition: $toggle-speed ease all;
        -webkit-transition: $toggle-speed ease all;
        overflow: hidden;
        position: absolute;
        height: 2.5rem;
        line-height: 2.5rem;
        color: white;
        text-align: center;
        display: inline-block;
    }
    &.active {
        .label {
            top: 0;
            left: 8rem;
            i {
                -webkit-transform: scaleX(-1);
                -moz-transform: scaleX(-1);
                -ms-transform: scaleX(-1);
                -o-transform: scaleX(-1);
                transform: scaleX(-1);
            }
        }
        .on {
            right: 2rem;
        }
        .off {
            left: 8rem;
        }
    }
}


.confirm-wrapper {
    height: 2.5rem;
    line-height: 2.5rem;
    vertical-align: middle;
}
.confirm {
    overflow: hidden;
    width: 8rem;
    float:right;
    height: 2.5rem;
    line-height: 2.5rem;
    display: inline-block;
    -webkit-transition: $toggle-speed ease all;
    transition: $toggle-speed ease all;
}
.confirm-hidden {
    width: 0 !important;
}
.confirm-prompt {
    line-height: 2.5rem;
    height: 2.5rem;
    padding: 0 0.5rem;
}
.confirm-form {
    line-height: 2.5rem;
    height: 2.5rem;
    float:right;
    width: 8rem;
    display: inline-block;
    font-size:0;


    input {
        cursor: pointer;
        border: 0;
        margin: 0;
        padding: 0.25rem;
        text-align: center;
        font-size: 0.8rem;
        height: 2.5rem;
        width: 4rem;

        &.confirm-confirm {
            background-color: $red;
        }
    }
}
