.text-width-calculation {
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    display: inline-block;
    white-space: nowrap;
}

.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.hidden {
    display: none;
}

.fa-6x {
    font-size: 6rem;
}

.small {
    font-size: 0.8rem !important;
}