{% extends "app.html" %}
{% import "macros.html" as macros %}

{% block css %}
{{ super() }}
{% assets "scss_datetime_datetime" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
{% assets "scss_events_create" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}


{% block title %}Create a New Event{% endblock %}
{% block pagetitle %}New Event{% endblock %}
{% set active_page = "Events" %}

{% block barleft %}
<a href="/events"><i class="fa fa-arrow-left fa-2x"></i></a>
{% endblock %}

{% block barright %}
<a class="text-button" href="#save">Save</a>
{% endblock %}

{% block js %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/events/create.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datetime/bootstrap-datepicker.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datetime/jquery.timepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datetime/jquery.datepair.min.js') }}"></script>
{% endblock %}

{% block bodyJs %}
<script>
    // initialize input widgets first
    $('.datetime .time').timepicker({
        'showDuration': true,
        'timeFormat': 'g:ia'
    });

    $('.datetime .date').datepicker({
        'format': 'm/d/yyyy',
        'todayHighlight': true,
        'autoclose': true
    });
    $('.datetime .date').datepicker('setDates', new Date());

    // initialize datepair
    $('.datetime').datepair();
</script>
{% endblock %}

{% block toolbar %}

{% if user.can("publish") %}
{% if event and event.published %}
{{ macros.toggle("Published", "Not Published")}}
{% else %}
{{ macros.toggle("Published", "Not Published", start_on=False)}}
{% endif %}
{% endif %}

{% if event %}
<div class="right">
    {{ macros.confirm("Delete Post", "/events/delete/" + event.id_str()) }}
</div>
{% endif %}
{% endblock %}

{% block content %}
<form class="create-event-form"
    {% block action %}
    action="/events/create"
    {% endblock %}
    method="POST">
    {{ form.csrf_token }}
    <div class="title-wrapper">
        {{ macros.render_field(form.title, placeholder="Event Title", autofocus="") }}
    </div>
    <div class="with-icon">
        <i class="fa fa-map-marker fa-2x"></i>
        {{ macros.render_field(form.location, placeholder="Location", class="location") }}
    </div>
    <div class="with-icon">
        <i class="fa fa-calendar fa-2x"></i>
        <div class="datetime input-daterange">
            <div class="start-wrapper">
                {{ macros.render_field(form.start_date, class="start date") }}
                {{ macros.render_field(form.start_time, type="text", class="start time", value='7:00pm') }}
            </div>
            <span class="to">to</span>
            <div class="end-wrapper">
                {{ macros.render_field(form.end_date, class="end date") }}
                {{ macros.render_field(form.end_time, type="text", class="end time", value='8:00pm') }}
            </div>
        </div>
    </div>
    <div class="descriptions">
        {{ macros.render_field(form.short_description, label=True, class="short", placeholder="A catchy, one sentence description of the event.") }}
        {{ macros.render_field(form.long_description, label=True, class="long", placeholder="A three to five sentence description that goes into more detail.") }}
    </div>
    <div class="hidden">
        <input type="submit" id="save-event" value="Add">
        {{ macros.render_field(form.published) }}
    </div>
</form>
{% endblock %}