{% extends "page.html" %}
{% block title %}{{ event.title}} | {{ super() }}{% endblock %}
{% import "macros.html" as macros %}

{% set should_include_hero = False%}

{% block css %}
{{ super() }}
{% assets "scss_single_event" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block heroclass %}hidden{% endblock %}
{% block hero %}
{% endblock %}

{% block mainclass %}no-hero{% endblock %}
{% block main %}
<section class="single-event">
    <div class="content with-sidebar">
        <div class="content-inner">
            <h1>{{ event.title }}</h1>
            <p>{{ event.long_description | safe }}</p>
        </div>
        <div class="sidebar">
            <img src="{{event.image_url()}}" />
            <div class="details">
                {% if event.is_multiday() %}
                <p>
                    <i class="fa fa-calendar"></i>
                    {{ event.human_readable_datetime() }}
                </p>
                {% else %}
                <p>
                    <i class="fa fa-calendar"></i>
                    {{ event.human_readable_date() }}
                </p>
                <p>
                    <i class="fa fa-clock-o"></i>
                    {{ event.human_readable_time() }}
                </p>
                {% endif %}
                <p>
                    <i class="fa fa-map-marker"></i>
                    {{ event.location }}
                </p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="content">
        <div class="section-header">
            <h4>Other Upcoming Events</h4>
            <span class="bar blue"></span>
        </div>
        <div class="triple-event">
            {% for event in upcoming_events %}
                {{ macros.small_event(event) }}
            {% endfor %}
        </div>
    </div>
</section>
{% if previous_index is defined or next_index is defined %}
<section>
    <div class="content">
        <div class="pagination">
            <div class="previous">
                {% if previous_index is defined %}
                <a href="{{ url_for('client.recurring_event',
                            slug=event.slug,
                            index=previous_index) }}">
                    <p><i class="fa fa-chevron-left"></i>Previous</p>
                </a>
                {% endif %}
            </div>
            <div class="next">
                {% if next_index is defined %}
                <a href="{{ url_for('client.recurring_event',
                            slug=event.slug,
                            index=next_index) }}">
                    <p>Next<i class="fa fa-chevron-right"></i></p>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock main %}