{% extends "app.html" %}
{% import "macros.html" as macros %}

{% set active_page='Events' %}

{% block css %}
{{ super() }}
{% assets "scss_events_events" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block title %}View Events{% endblock %}
{% block pagetitle %}Events{% endblock %}

{% if request.args.get('week') %}
{% set week = request.args.get('week')|int %}
{% else %}
{% set week = 0 %}
{% endif %}

{% block barleft %}
<a href="/events?week={{ week - 1 }}">
    <i class="fa fa-chevron-left fa-2x"></i>
</a>
<a href="/events?week={{ week + 1 }}">
    <i class="fa fa-chevron-right fa-2x"></i>
</a>
{% endblock %}

{% block js %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/events/events.js') }}"></script>
{% endblock %}

{% macro render_event(event) %}
<li class="event">
    <span
        {% if event.published %}
        class="published"
        {% else %}
        class="not-published"
        {% endif %}
    ></span>
    <div class="text-content">
        <h3>{{event.title}}</h3>
        <p>{{event.location}}</p>
        <p>{{ event.human_readable_datetime() }}</p>
        <p><a href="/events/edit/{{ event.id }}">Edit event</a></p>
        <form class="delete-event" method="POST" action="/events/delete/{{ event.id }}">
            <input type="submit" value="Delete Event">
        </form>
        <form class="publish-event"
            {% if event.published %}
            action="/events/unpublish/{{ event.id }}"
            {% else %}
            action="/events/publish/{{ event.id }}"
            {% endif %}
            method="POST">
            <input
                {% if event.published %}
                value="Unpublish"
                {% else %}
                value="Publish"
                {% endif %}
                type="submit">
        </form>
    </div>
    <div class="creator">
        <span class="image">
            <img src="{{ event.creator.get_profile_picture() }}">
        </span>
        <p class="name">{{ event.creator.name }}</p>
    </div>
</li>
{% endmacro %}

{% block barright %}
<a href="/events/create"><i class="fa fa-plus fa-2x"></i></a>
{% endblock %}

{% block content %}
<div class="this-week full-width">
    <div class="events-wrapper">
        <ul class="events clearfix"
            style="width:{{ 16*(events.this_week|count) - 1 }}rem;">
        {% if events.this_week %}
            {% for event in events.this_week %}
            {{ render_event(event) }}
            {% endfor %}
        {% else %}
            <li class="no-events">
                <p>No events this week</p>
            </li>
        {% endif %}
        </ul>
    </div>
</div>
<div class="next-week full-width">
    <div class="events-wrapper">
        <ul class="events clearfix"
            style="width:{{ 16*(events.next_week|count) - 1 }}rem;">
        {% if events.next_week %}
            {% for event in events.next_week %}
            {{ render_event(event) }}
            {% endfor %}
        {% else %}
            <li class="no-events">
                <p>No events for this week.</p>
            </li>
        {% endif %}
        </ul>
    </div>
</div>
{% endblock %}