{% extends "page.html" %}
{% block title %}{{ event.title}} | {{ super() }}{% endblock %}
{% import "macros.html" as macros %}

{% block hero %}
<i class="solid blue"></i>
{% endblock %}

{% block main %}
<section class="tagline">
    <h1>{{ event.title }}</h1>
</section>
<section class="card top-card">
    <div class="content">
        {% if previous_index >= 0 %}
        <a href="{{ url_for('client.recurring_event',
                            slug=event.slug,
                            index=previous_index) }}">Previous</a>
        {% endif %}
        {{ macros.event(event) }}
        {% if next_index >= 0 %}
        <a href="{{ url_for('client.recurring_event',
                            slug=event.slug,
                            index=next_index) }}">Next</a>
        {% endif %}
    </div>
</section>

{% endblock main %}