// Grayscale
$darkgray: #333;
$gray: #919191;
$lightgray: #e0e0e0;
$offwhite: #efefef ;
$white: #FFF;

// Red
$red: #d9534f;
$darkred: #d43f3a;

// Blue
$blue: #3878CC;
$fadedblue: #306cbb;

// Green
$green: #43AC6A;

// Yellow
$yellow: #FFE020;

$gold: #ffcc00;
