{% extends "page.html" %}

{% block css %}
{{ super() }}
{% assets "scss_blog" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}


{% block main %}
<section class="tagline">
    <h1>All things tech at Columbia</h1>
</section>
<section class="card top-card">
    <div class="content">

        <form action="http://adicu.us4.list-manage.com/subscribe/post?u=62d8b690f349b99dd7e0f3205&amp;id=01a495e6ed"
              method="post"
              id="gi-embedded-subscribe-form"
              name="gi-embedded-subscribe-form"
              class="subscribe validate"
              target="_blank">
            <div class="left">
                <input type="email"
                       name="EMAIL"
                       id="gi-EMAIL"
                       placeholder="Subscribe to our newsletter..."
                       required />
            </div>
            <div class="button submit">Sign Up!</div>
            <input class="hidden"
                   type="submit"
                   id="gi-embedded-subscribe"
                   name="subscribe">
        </form>
    </div>
</section>
<section>
    <div class="content">
        <div class="section-header">
            <h4>What We do</h4>
            <span class="bar yellow"></span>
        </div>
        <h3>The Application Development Initiative seeks to nurture student creativity and technological aptitude by creating a community and resources for student developers of all talents and interests.</h3>
    </div>
</section>
<section>
    <div class="content">
        <div class="section-header">
            <h4>Events</h4>
            <span class="bar blue"></span>
        </div>
        {% if events %}
        {{ macros.event(events[0]) }}
        {% endif %}
    </div>
</section>
<section>
    <div class="content">
        <div class="section-header">
            <h4>Upcoming</h4>
            <span class="bar green"></span>
        </div>
        <div class="triple">
            {% if events %}
            {% for index in range(1,(events|length)) %}
            {{ macros.small_event(events[index]) }}
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
<section class="full yellow callout">
    <div class="content">
        <div class="callout-left">
            <div class="section-header">
                <h4>Projects</h4>
                <span class="bar gray"></span>
            </div>
            <h3>Open source projects built by Columbia students for Columbia Students.</h3>
            <div class="button-group">
                <div class="button gray"><a href="http://courses.adicu.com">Courses by ADI</a></div>
                <div class="button gray"><a href="http://data.adicu.com">data.adicu.com</a></div>
            </div>
            <p>Learn more in <a href="/resources">Resources</a></p>
        </div>
        <div class="callout-right">
            <div class="card">
                <a href="http://courses.adicu.com">
                    <i style="background-image:url({{ url_for('static', filename='img/courses_by_adi.png') }})"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="content">
        <div class="section-header">
            <h4>From our Blog</h4>
            <span class="bar blue"></span>
        </div>
        <div class="triple">
            {% if blog_post %}
                {{ macros.post(blog_post) }}
            {% endif %}
        </div>
    </div>
</section>
{% endblock main %}