{% extends "page.html" %}
{% block title %}Labs | {{ super() }}{% endblock %}

{% block header_image %}/static/img/hero/judges.jpg{% endblock %}

{% block main %}
<section class="tagline">
   <h1>ADI Labs</h1>
</section>
<section class="card top-card">
   <div class="content">
       <div class="section-header">
           <h4>About</h4>
           <span class="bar green"></span>
       </div>
   </div>
   <div class="content">
        <h3>Learn software engineering by working on apps used by thousands of Columbia students! ADI Labs meets once a week for four hours to develop software intended to make life easier at Columbia.
        </h3>
        <h3>As a member of Labs, you’ll learn to contribute to open source projects and to take your programming beyond problem sets. Paired with one of our student mentors, you’ll learn software engineering techniques used in industry.  Interested? Applications are now open.</h3>
        <div class="button-group centered">
            <a target="_blank" href="https://docs.google.com/forms/d/1_4ac1sG7mGRz7aSNaXaFH_JMGxdwsfPkB8Iz-xkCgYw/viewform">
                <div class="button green">Apply Now</div>
            </a>
        </div>
   </div>
</section>
<section class="full blue callout">
    <div class="content">
        <div class="callout-left">
            <div class="section-header">
                <h4>Projects</h4>
                <span class="bar gray"></span>
            </div>
            <h3>Open source projects built by Columbia students for Columbia Students.</h3>
            <div class="button-group">
                <div class="button gray"><a href="http://courses.adicu.com">Courses by ADI</a></div>
                <div class="button gray"><a href="http://data.adicu.com">data.adicu.com</a></div>
            </div>
            <p>Just getting started? <a href="/resources">Learn to Code</a></p>
        </div>
        <div class="callout-right">
            <div class="card">
                <a href="http://courses.adicu.com">
                    <i style="background-image:url({{ url_for('static', filename='img/courses_by_adi.png') }})"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="card top-card">
   <div class="content">
       <div class="section-header">
           <h4>FAQ</h4>
           <span class="bar green"></span>
       </div>
   </div>
   <div class="content">
        <ul class="faqs">
            {% for faq in faqs %}
            {% if loop.index0 % 2 == 0 %}
            <div class="pair">
            {% endif %}
                <li class="faq">
                    <strong>{{ faq.question }}</strong>
                    <p>{{ faq.answer | safe }}</p>
                </li>
            {% if loop.index0 % 2 == 1 or loop.index0 == faqs | length %}
            </div>
            {% endif %}
            {% endfor %}
        </ul>
   </div>
</section>
{% endblock main %}