{% macro render_field(field, label=True, placeholder=None, hidden=None) %}
{% if field.errors %}
<div class="form-component error">
    {% for error in field.errors %}
    <p>{{ error }}</p>
    {% endfor %}
{% elif field.flags.error %}
<div class="form-component flag">
    {{ field.flags.error }}
{% elif hidden %}
<div class="form-component hidden">
{% else%}
<div class="form-component">
{% endif %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {% if label %}{{ field.label }}{% endif %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
</div>
{% endmacro %}