{% extends "base.html" %}
{% block title %}ADI | The Application Development Initiative{% endblock %}
{% import "macros.html" as macros %}

{% block css %}
{{ super() }}
{% assets "scss_client" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block js %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/home/home.js') }}"></script>
{% endblock %}


{% block fonts %}
{{ super() }}
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab|Merriweather+Sans:400,700,800,400italic' rel='stylesheet' type='text/css'>
{% endblock %}

{% set navbar_items = [('Events', '/events'),
('Resources', '/resources'),
('Labs', '/labs'),
('Blog', '/blog'),
('Contact', '/contact')] %}

{%- block body -%}
<div class="all-wrapper">
    <div class="ribbon">
        <div class="ribbon-inner">
            {% for i in range(8) %}
            <span class="ribbon-strip blue"></span>
            <span class="ribbon-strip yellow"></span>
            <span class="ribbon-strip green"></span>
            {% endfor %}
        </div>
    </div>

    {{ macros.navbar(navbar_items) }}

    <div class="hero {% block heroclass %}{% endblock %}">
        {% block hero %}
        <div class="scrim"></div>
        <i class="{% block header_image_class %}{%endblock%}" style="background-image: url({% block header_image %}/static/img/hero/jane.jpg{% endblock%});"></i>
        {% endblock %}
    </div>
    <div class="main {% block mainclass %}{% endblock %}">
        {% block main %}{% endblock %}
    </div>
    <div class="footer-spacer"></div>
</div>
<footer>
    <div class="content">
        <p>
            Built by <a href="http://danrschlosser.com">Dan Schlosser</a><br />
            Maintained by ADI Infrastructure
        </p>
        <p class="right">
            This work is licensed under a <br />
            <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
                Creative Commons license.
            </a>
        </p>
    </div>
</footer>
{% endblock body %}


