{% extends "page.html" %}
{% block title %}Resources | {{ super() }}{% endblock %}
{% block header_image %}/static/img/hero/puzzled.jpg{% endblock %}

{% block css %}
{{ super() }}
{% assets "scss_resources" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block js %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/resources/resources.js')}}"></script>
{% endblock %}

{% set colors = ['green', 'yellow', 'blue'] %}

{% macro render_resource(resource) %}
<div class="resource">
    <div class="inner">
        <h5><a href="{{ resource.url }}" target="_blank">{{ resource.name }} {% if resource.adi %}<img class="adi-resource" src="{{ url_for('static', filename='img/logo/adi-gear.png') }}" />{% endif %}</a></h5>
        <p>{{ resource.description }}</p>
    </div>
</div>
{% endmacro%}

{% block main %}
<section class="tagline">
    <h1>Resources</h1>
</section>
<section class="card top-card">
    <div class="content">
        <div class="section-header">
            <h4>Learn to Code</h4>
            <span class="bar green"></span>
        </div>
        <h3>There are tons of different technologies out there, each of which has its own tutorials, documentation, and community (good or bad). ADI has done the hard work of tracking down the best resources, summarizing each technology, and identify critical concepts based on goal so that the only thing standing between you and the implementation of your idea is a little bit of learning and hard work.</h3>
    </div>
</section>
<section class="card">
    <div class="content">
        <div class="section-header">
            <h4>DevFest Curriculum</h4>
            <span class="bar yellow"></span>
        </div>
        <h3><a href="http://devfe.st">DevFest</a> is ADI's annual week-long workshop series and hackathon.  The workshops at DevFest cover <a class="slideto" href="#python">Python</a>, <a class="slideto" href="#flask">Flask</a>, APIs, <a class="slideto" href="#html">HTML</a>, and <a class="slideto" href="#css">CSS</a>.</h3>
        <h3>First-time programmers should follow the <a href="http://www.codecademy.com/tracks/python">Codecademy Python Track</a>, and first-time app builders should follow the <a href="http://learn.adicu.com/python">Introduction to Python Programming</a> and the <a href="http://learn.adicu.com/webdev">Accelerated Introduction to Wev Development</a>.</h3>
    </div>
</section>
<section class="card">
    <div class="content">
        <div class="section-header">
            <h4>ADI-Developed Resources</h4>
            <span class="bar blue"></span>
        </div>
        <h3>Over the course of multiple years of holding student-run workshops, ADI has developed a large number of resources itself, on a wide variety of topics.  See resources written by ADI members highlighed with a gear (<img class="adi-resource" src="{{ url_for('static', filename='img/logo/adi-gear.png') }}"/>).</h3>
    </div>
</section>
<div class="sidebar-wrapper">
    <div class="sidebar">
        <div class="inner">
            <h4>Tracks</h4>
            <span class="bar gray"></span>
            <ul class="tracks">
            {% for track in resources.tracks %}
                <li>
                    <a href="#set-track" data-topics="{{ track.topics | join(',') }}">
                        <p>
                            {{ track.name }}
                            <i class="fa fa-times"></i>
                        </p>
                    </a>
                </li>
            {% endfor %}
            </ul>
            <h4>Topics</h4>
            <span class="bar gray"></span>
            <ul class="topics">
            {% for topic in resources.topics %}
                <li data-topic="{{ topic.id }}">
                    <a class="slideto" href="#{{topic.id}}">
                        <p>{{ topic.name }}</p>
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    {% for topic in resources.topics %}
    <section class="topic with-sidebar" id="{{ topic.id }}">
        <div class="content">
            <div class="section-header">
                <h4>{{ topic.name }}</h4>
                <span class="bar {{ colors[loop.index0 % 3] }}"></span>
            </div>
            <h3>{{ topic.description }}</h3>
            <ul class="resources">
            {% for index in range((topic.resources | length / 2) | round(0, 'ceil') | int ) %}
                <li>
                    {% with resource = topic.resources[2*index] %}
                        {{ render_resource(resource) }}
                    {% endwith %}
                    {% if topic.resources | length > 2*index + 1 %}
                        {% with resource = topic.resources[2*index + 1] %}
                            {{ render_resource(resource) }}
                        {% endwith %}
                    {% endif %}
                </li>
            {% endfor%}
            </ul>
        </div>
    </section>
    {% endfor %}
</div>

{% endblock main %}